<nav id="veniss_navbar" class="clonedNavbar" role="navigation">

  <!-- Home page bar -->
  <div id="sideNavbar" style="display: none;" class="rs-header">
    
    <ul class="nav navbar-nav" id="rs-navbar">
      <bs-nav-dropdown title="" id="main-header-dropdown" class="">


          <li class="rs-dropdown-sectionTitle">Menu</li>
          <semantic-link-container uri="https://veniss.net/resource/Main">
            <bs-menu-item><i class="fa fa-home" aria-hidden="true"></i> Main</bs-menu-item>
          </semantic-link-container>

          <semantic-link-container uri="https://veniss.net/resource/Narratives">
            <bs-menu-item><i class="fa fa-book" aria-hidden="true"></i> Narratives</bs-menu-item>
          </semantic-link-container>

          <bs-menu-item divider="true"></bs-menu-item>

          <semantic-link-container uri="https://veniss.net/resource/ThinkingFrames" class="rs-body-m-M">
            <bs-menu-item><i class="fa fa-columns" aria-hidden="true"></i> Thinking Frames</bs-menu-item>
          </semantic-link-container>

          <mp-anonymous-hidden>
            <li class="rs-xs-none">
              <semantic-link iri="http://www.researchspace.org/resource/admin" title="System Settings" class="rs-setting-icon">
                <i class="fa fa-cog"></i> Settings
              </semantic-link>
            </li>
          </mp-anonymous-hidden>

          <mp-anonymous-hidden>
            <li>
              <mp-link url="/sparql" class="rs-body-m-M"><span class="rs-icon rs-icon-sparql"></span> Sparql</mp-link>
            </li>
          </mp-anonymous-hidden>

          <mp-anonymous-hidden alt='<li><a href="/login" title="login" class="rs-body-m-M">Login</a></li>'>
            <bs-nav-dropdown title="Account" id="rs-account-dropdown" class="rs-account-dropdown">

              <bs-menu-item title='userPrincipal'>
                <semantic-query
                  query='SELECT ?userName { BIND(REPLACE(REPLACE(STR(?__useruri__), STR(User:), ""), "%40", "@") as ?userName) }'
                  template='\{{> template}}'>
                  <template id='template'>
                    <semantic-link-container uri='\{{bindings.0.__useruri__.value}}'>
                      <div class="user-dropdown_item">
                        <i class="rs-icon rs-icon-user_round rs-xs-none"></i>
                        <span>\{{bindings.0.userName.value}}</span>
                      </div>
                    </semantic-link-container>
                  </template>
                </semantic-query>
              </bs-menu-item>

              <bs-menu-item href="/logout" title='logout'>
                <div class="user-dropdown_item">
                  <i class="rs-icon rs-icon-login rs-xs-none"></i>
                  <span>Logout</span>
                </div>
              </bs-menu-item>

            </bs-nav-dropdown>
          </mp-anonymous-hidden>

        </bs-nav-dropdown>
      
      <a class="rs-header-logo pull-right" href="/"><div id="logoTitleText"><img src="../../assets/images/veniss_logo_def_gold.png"></div></a>

    </ul>
  </div>

  <!-- Left page bar -->
  <div id="centralNavbar" class="rs-header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rs-navbar"
        aria-expanded="false" aria-controls="rs-navbar" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="go" href="/"><h1>VeNiss</h1></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="rs-navbar">

      <ul class="nav navbar-nav" id="rs-navbar">
        <bs-nav-dropdown id="main-header-dropdown">

          <semantic-link-container uri="https://veniss.net/resource/Main">
            <bs-menu-item><i class="fa fa-home" aria-hidden="true"></i> Main</bs-menu-item>
          </semantic-link-container>

          <semantic-link-container uri="https://veniss.net/resource/Narratives">
            <bs-menu-item><i class="fa fa-book" aria-hidden="true"></i> Narratives</bs-menu-item>
          </semantic-link-container>

          <!--
          <semantic-link-container uri="https://veniss.net/resource/ProjectDashboard">
            <bs-menu-item><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</bs-menu-item>
          </semantic-link-container>
          -->

          <bs-menu-item divider="true"></bs-menu-item>

          <semantic-link-container uri="https://veniss.net/resource/ThinkingFrames" class="rs-body-m-M">
            <bs-menu-item><i class="fa fa-columns" aria-hidden="true"></i> Thinking Frames</bs-menu-item>
          </semantic-link-container>

          <mp-anonymous-hidden>
            <li class="rs-xs-none">
              <semantic-link iri="http://www.researchspace.org/resource/admin" title="System Settings" class="rs-setting-icon">
                <i class="fa fa-cog"></i> Settings
              </semantic-link>
            </li>
          </mp-anonymous-hidden>

          <mp-anonymous-hidden>
            <li>
              <mp-link url="/sparql" class="rs-body-m-M"><span class="rs-icon rs-icon-sparql"></span> Sparql</mp-link>
            </li>
          </mp-anonymous-hidden>

          <mp-anonymous-hidden alt='<li><a href="/login" title="login" class="rs-body-m-M">Login</a></li>'>
            <bs-nav-dropdown title="Account" id="rs-account-dropdown" class="rs-account-dropdown">

              <bs-menu-item title='userPrincipal'>
                <semantic-query
                  query='SELECT ?userName { BIND(REPLACE(REPLACE(STR(?__useruri__), STR(User:), ""), "%40", "@") as ?userName) }'
                  template='\{{> template}}'>
                  <template id='template'>
                    <semantic-link-container uri='\{{bindings.0.__useruri__.value}}'>
                      <div class="user-dropdown_item">
                        <i class="rs-icon rs-icon-user_round rs-xs-none"></i>
                        <span>\{{bindings.0.userName.value}}</span>
                      </div>
                    </semantic-link-container>
                  </template>
                </semantic-query>
              </bs-menu-item>

              <bs-menu-item href="/logout" title='login'>
                <div class="user-dropdown_item">
                  <i class="rs-icon rs-icon-login rs-xs-none"></i>
                  <span>Logout</span>
                </div>
              </bs-menu-item>

            </bs-nav-dropdown>
          </mp-anonymous-hidden>

        </bs-nav-dropdown>
      </ul>

    </div>
    
  </div>

</nav>























