<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <link rel="icon" href="/assets/no_auth/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/no_auth/login.css">
  <title>{{deploymentTitle}}</title>

  {{#each assetsMap.app.css}}
  <link href="{{this}}" rel="stylesheet" type="text/css">
  {{/each}}

</head>

<body class="login-body">

  <video class="login-video-bg" autoplay muted loop playsinline>
    <source src="/assets/no_auth/venezia-acqua-isole-2.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  
  <div class="video-overlay"></div>

  <div class="login-container" data-flex-layout="column center-center">

    <div class="login-border">
      <div class="login-title-row">
        <div class="login-title">
          <img src="/assets/no_auth/logo.png" alt="Logo">
        </div>

      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          {{#if shiroLoginFailure}}
          <div class="alert alert-danger">
            <strong>{{shiroLoginFailure}}</strong>
          </div>
          {{/if}}
          <form name="loginform" action="" method="POST" accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Username" name="username" type="text">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" value="">
              </div>
              <input class="btn btn-md btn-success btn-block" type="submit" value="Login">
            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>

</body>

</html>