/* FORMS */
div.left-column {
  padding-right: 10px;
}

.form-main-window{
  margin-top: 30px;
}

.image-uploader {
  text-align: center;
  width: inherit;
  margin: 20px 0;
}

.tab-content {
  min-height: 500px;
}