html,
body {
  height: 100%;
  margin: 0;
}
#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.maptoolbar {
  display: flex;
  flex-direction: row;
}

#maptoolbarFirst {
  flex: 1;
}

#mapContainer {
  height: calc(100vh);
}

#mapContainer > div:nth-of-type(1) {
  height: 100%;
}

#mapNavigatorContainer {
  flex: 1;
  position: relative;
}

#mapNavigatorRow {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

#mapContainer {
  flex: 1;
  background: rgba(0, 141, 237, 0);
}

#navigatorContainer {
  padding: 25px;
  text-wrap: normal;
  overflow-wrap: break-word;
  background-color: white;
}

.system-spinner:nth-of-type(n + 2) {
  display: none !important;
}

#narrativeHolder {
  height: calc(100vh - 88px);
  position: fixed;
  top: 88px;
  left: 30px;
  width: 25%;
  max-width: 500px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.91);
  padding: 20px;
  text-align: justify;
  overflow-y: scroll;
  /* font-family: 'Playfair Display', serif;
            font-weight: lighter; */
}


#narrativeHolder > p {
  font-size: 11pt;
}

#narrativeHolder::-webkit-scrollbar {
  display: none;
}

#narrativeTitle {
  margin-top: 0;
  font-size: 20pt;
  text-align: center;
  color: var(--color-header-bg);
}

.narrativeLink {
  color: var(--color-header-bg);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.ol-zoom {
  top: 20px;
  left: 8px;
}

#narrativeImage {
  width: 50%;
  margin: 15px 25% 25px 25%;
  border: 1px solid var(--color-header-bg);
}

.or-spacer {
  width: 300px;
  margin-left: 50%;
  transform: translate(-50%);
  position: relative;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}

#sidebarContainer {
  width: var(--sidebar-width);
  height: calc(100vh - var(--nav-height));
  overflow: scroll;
  z-index: 100000;
  -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15); 
  box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15);
}

#sidebarContainer {
  margin-top: var(--nav-height, 58px);  
}

#rs-navbar {
  width: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
}

.toggle3dBtn {
  position: fixed;
  bottom: 20px;
  right: calc(var(--sidebar-width) + 20px);
  background-color: #b48f49;
  color: white;
}

.toggle3dBtn:hover {
  background-color: #cfab67;
}

.editButton {
  position: fixed;
  top: 85px;
  left: 10px;
  outline: 3px solid white !important;
}

.colorsLegend {
  position: fixed;
  right: calc(var(--sidebar-width) + 20px);
  top: 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 100000000;
  padding: 10px;
}

.swatches-picker {
  width: 320px;
  height: 240px;
  top: 100px;
  z-index: 1000000000000000000;
  position: fixed;
  right: calc(var(--sidebar-width) + 20px);
}

.timeSliderContainer {
  position: fixed;
  left: 50px;
  bottom: 30px;
  width: calc(100vw - var(--sidebar-width) - 200px);
}

.timeSliderContainer div {
  bottom: 50px;
  font-size: 50pt !important;
  font-family: 'Lato', serif;
}

.ol-popup {
  border-top: 20px solid var(--archipelago-gold);
}

.ol-popup-content a {
  color: var(--archipelago-gold);
}
/*
.cardinality-support__group-instance, .SemanticTreeInput--inputAndButtons {
  border: none !important;
  padding: 0px !important;

}

.griddle-container {
  padding-bottom: 50px;
}
