.rs-header {
    /*background-image: url("/assets/images/headerbanner.jpg");*/
    /* background-color: #0c3146 !Important; */
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #0c3146;
}

.rs-header-logo {
    color: #1d0a6e !important;
}

.rs-application .navbar-default .navbar-nav > li > a, .rs-application .navbar-default .rs-icon {
    /* color: #1d0a6e !Important; */
}

.navbar {
    /* height:80px !important; */
}

.rs-header-logo img {
    width: 100px;
    padding: 3%;
}

.no-padding[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.rs-application .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 300;
}

.rs-application .navbar-default a#main-header-dropdown, .rs-application .navbar-default a#rs-account-dropdown {
    font-family: "Roboto", sans-serif, sans-serif;
    font-size: 13.5px;
    background-color: transparent;
    font-weight: 300;
}

.ol-control button {
    background-color: rgba(217, 93, 0, 0.5) !important;
}

.ol-control {
    background-color: rgba(255,255,255,0.4) !important;
    border-radius: 0px !important;
}

.ol-zoom .ol-zoom-in, .ol-zoom .ol-zoom-out {
    border-radius: 0 !important;
}

.maptoolbar {
    background-color: bisque;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

/* NARRATIVES */

#narrativesSidebar {
    background-image: url("../../assets/images/cartanautica.jpg");
    height: 1200px;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
}

#narrativesContent {
    padding-left: 100px;
    padding-top: 30px;
}

.archipelagoTitle {
    font-size: 57pt;
}

.narrativeParagraph {
    font-size: 14pt;
    text-align: justify;
}

.narrativeRow {
    padding: 20px;
    padding-left: 10px;
    transition: 0.5s;
}

.narrativeRow:hover {
    background-color: rgba(255, 205, 161, 0.71);
    cursor: pointer;
}

.narrativeTitle, h4 {
    font-size: 16pt;
    margin-top: 0;
}

.narrativeDescription {
    font-size: 11pt;
    text-align: justify;
}

.narrativeImage {
    width: 100%;
}

.maptoolbar .fa {
    font-size: 15pt;
    padding: 5px;
}

#maptoolbarTitle {
    margin-left: 10px;
    display: inline-block;
}

.narrativeDescription, .narrativeParagraph {
    font-weight: 200;
}

.navigatorTitles{
    font-family: 'Source Sans Pro', serif;
    margin: 5px 0 5px 0;
    font-weight:300px;
}

.navigatorEntity hr{
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--color-light);
    width: 250px;
    margin-left: 0;
    border-left: 1px;
    border-color: var(--color-dark);
}

/*
#navigatorContainer {
    background-color: #f6f1e1;
}
*/

.navigator-img {
    border: 1px solid var(--color-dark);
    margin-bottom: 30px;
}

.basemapsThumbnails {
    width: 100%;
    cursor: pointer;
}

#navigatorContainer h2 {
    font-size: 20pt;
    margin-top: 0px;
    font-family: 'Source Sans Pro';
}

#navigatorContainer > h2, h3 {
    font-family: 'Source Sans Pro'
}

#navigatorContainer label {
    font-family: 'Source Sans Pro' !important;
    margin-bottom: 5px !important;
    display: inline-block;
}

#navigatorContainer input {
    margin-top: 5px;
}

#mapControlsTitle {
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 20pt;
}

.draggableLayer {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 1px 1px 3px 0px rgb(137 137 137 / 30%);
    box-shadow: 1px 1px 3px 0px rgb(137 137 137 / 30%);
    backdrop-filter: blur(3px);
    height: 80px;
    width: 98%;
    margin-left: 1%;
    background-color:rgba(255, 255, 255, 0.7)
}

.mapLayersTitle {
    margin-left: 10px;
    font-weight: 100;
}

#tilesLayerSeparator {
    margin: 5px !important;
}

.layerName {
    font-weight: 500;
}

.layersContainer {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 3px 9px 0px #2929294d;
}

.layerThumbnail {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}


.opacitySlider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255,250,250, 0.00), rgb(197, 89, 0));
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .opacitySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #ddd;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(white, white), linear-gradient(to right, rgba(255,250,250, 0.00), rgb(0,60,51));
    background-attachment: fixed, fixed;
    background-clip: padding-box, border-box;
  }
  
  .opacitySlider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #ddd;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(white, white), linear-gradient(to right, rgba(255,250,250, 0.00), rgb(0,60,51));
    background-attachment: fixed, fixed;
    background-clip: padding-box, border-box;
  }

  .layerLevelLabel {
      font-size: 10pt;
      font-weight: lighter;
  }
