html,
body {
  height: 100%;
  margin: 0;
}
#mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.maptoolbar {
  display: flex;
  flex-direction: row;
}

#maptoolbarFirst {
  flex: 1;
}

#mapContainer {
  height: calc(100vh);
}

#mapContainer > div:nth-of-type(1) {
  height: 100%;
}

#mapNavigatorContainer {
  flex: 1;
  position: relative;
}

#mapNavigatorRow {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

#mapContainer {
  flex: 1;
  background: rgba(0, 141, 237, 0);
}

#navigatorContainer {
  padding: 25px;
  text-wrap: normal;
  overflow-wrap: break-word;
  background-color: white;
}

.system-spinner:nth-of-type(n + 2) {
  display: none !important;
}

#narrativeHolder {
  height: calc(100vh - 88px);
  position: fixed;
  top: 88px;
  left: 30px;
  width: 25%;
  max-width: 500px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.91);
  padding: 20px;
  text-align: justify;
  overflow-y: scroll;
  /* font-family: 'Playfair Display', serif;
            font-weight: lighter; */
}

#narrativeHolder > p {
  font-size: 11pt;
}

#narrativeHolder::-webkit-scrollbar {
  display: none;
}

#narrativeTitle {
  margin-top: 0;
  font-size: 20pt;
  text-align: center;
  color: var(--color-header-bg);
}

.narrativeLink {
  color: var(--color-header-bg);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.ol-zoom {
  top: 20px;
  left: 8px;
}

#narrativeImage {
  width: 50%;
  margin: 15px 25% 25px 25%;
  border: 1px solid var(--color-header-bg);
}

.or-spacer {
  width: 300px;
  margin-left: 50%;
  transform: translate(-50%);
  position: relative;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}

#sidebarContainer {
  width: var(--sidebar-width);
  height: calc(100vh - var(--nav-height));
  overflow: scroll;
  z-index: 100000;
  -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15); 
  box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15);
}

#archipelagoNavbar {
  width: var(--sidebar-width) !important;
  min-height: var(--nav-height, 58px);
    height: var(--nav-height, 58px);
    border: none;
    font-size: 14px;
    margin-bottom: 0px;
    background-color: var(--color-navbar-bg, #1d0a6e);
   z-index: 1030;
   right: 0;
   color: white !important;
   position: absolute;
   -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15); 
   box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15);
}

.clonedNavbar:nth-child(2){
  display: none !important;
}
#archipelagoNavbar > li > a {
  font-weight: 300;
}

#archipelagoNavbar > #main-header-dropdown, .rs-application .navbar-default a#rs-account-dropdown {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 13.5px;
  background-color: transparent;
  font-weight: 300;
}

#sidebarContainer {
  margin-top: var(--nav-height, 58px);  
}

#rs-navbar {
  width: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
}

.toggle3dBtn {
  position: fixed;
  bottom: 20px;
  right: calc(var(--sidebar-width) + 20px);
  background-color: rgb(255,179,95);
  color: white;
}

.toggle3dBtn:hover {
  background-color: rgba(255, 140, 0, 1);
}

.editButton {
  position: fixed;
  top: 85px;
  left: 10px;
  outline: 3px solid white !important;
}