<div class="page">

  <div data-flex-layout="columns center-stretch">

    <div class="Header">
      <h1>List of Events</h1>
      <hr>
    </div>

    <div class="subheader">
        
        <button class="btn btn-primary">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Event"
            urlqueryparam-mode="new"
          >
            + Event
          </semantic-link>
        </button>

    </div>

    <div class="body">
      <semantic-search>
        <semantic-search-query-constant 
          query='
            select distinct ?subject where { ?subject a veniss_ontology:Event }'>
        </semantic-search-query-constant>

        <div data-flex-layout="row stretch-stretch">
          <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
            <semantic-search-facet></semantic-search-facet>
          </div>

          <semantic-search-result-holder>
            <div data-flex-self="md-full">

              <semantic-search-result>
                <semantic-table 
                  id='table-result'
                  query='SELECT DISTINCT ?subject ?label WHERE { }' 
                >
                </semantic-table>
              </semantic-search-result>

            </div>
        </semantic-search-result-holder>
      </div>
    </semantic-search>
    </div>

  </div>    

</div>

<style>
  .page{
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-container {
    margin-top: 10px;
  }
  .btn a{
    color: #fff!important;
  }
</style>