<div id="mapNavigatorContainer">
  <semantic-search-result>
    <semantic-table
      id="table"
      number-of-displayed-rows="1000"
      query='SELECT DISTINCT ?iri ?type WHERE 
      { 
        {
          ?subject rdf:type ?type.
          BIND(?subject AS ?iri)
        }
        UNION
        {
          ?iri arc:related_to ?subject;
            rdf:type ?type.
        }
        FILTER(CONTAINS(STR(?type), "https://archipelago.itatti.harvard.edu/resource"))
      }'
    >
    </semantic-table>
  </semantic-search-result>
</div>
