<div class="page">

  <div data-flex-layout="columns center-stretch">
    <div class="Header">
      <h1>Builtworks</h1>
      <hr>
    </div>
    <div class="subheader">
        <h2>Create</h2>

        <!-- Island -->
        <button class="btn btn-success">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Island"
            urlqueryparam-mode="new"
          >
            + Island
          </semantic-link>
        </button>

        <!-- Building -->
        <button class="btn btn-primary">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Building"
            urlqueryparam-mode="new"
          >
            + Building
          </semantic-link>
        </button>


    </div>

    <div class="body">
      <semantic-search>
        <semantic-search-query-constant query='
          SELECT ?subject 
          WHERE {
            ?subject a ?type.
            ?type rdfs:subClassOf <https://veniss.net/ontology#Builtwork>.
          }
        '>
        </semantic-search-query-constant>

        <semantic-search-result-holder>
          <div data-flex-self="md-full">

            <!-- Count -->
            <semantic-search-result>
              <mp-sparql-result-counts id='query-count' query="SELECT DISTINCT * {}" template='{{>count}}'>
                <template id="count">
                  {{#if hasLimit}}
                  <bs-alert bs-style="warning">
                    Showing {{numberOfResults}} of {{totalNumberOfResults}} matches.
                    <strong>Please, refine your search.</strong>
                  </bs-alert>
                  {{else}}
                  <div style="margin-left:5px;">
                    <h2>List</h2>
                    </div>
                  <p>Found <strong>{{numberOfResults}}</strong> Builtworks.</p>
                  {{/if}}
                </template>
              </mp-sparql-result-counts>
            </semantic-search-result>


            <bs-tabs unmount-on-exit=true id='search-results' animation=false>

              <bs-tab event-key="1" title="Islands">



                <semantic-search-result>
                  <semantic-table id='table-result' query='SELECT * WHERE { 
                      ?subject a veniss_ontology:Island.
                      ?subject rdfs:label ?label.
                      ?subject crm:P1_is_identified_by ?appellation.
                      ?appellation rdfs:label ?name.
                      OPTIONAL {
                        ?subject crm:P87_is_identified_by ?latitude.
                        ?latitude crm:P2_has_type <https://veniss.net/ontology#latitude>.
                        ?latitude rdfs:label ?latitude_label. 
                        ?subject crm:P87_is_identified_by ?longitude.
                        ?longitude crm:P2_has_type <https://veniss.net/ontology#longitude>.
                        ?longitude rdfs:label ?longitude_label. 
                      }
                      OPTIONAL {
                        ?subject crm:P48_has_preferred_identifier ?geonames_identifier.
                        ?geonames_identifier rdfs:label ?geonames_label.
                      }
                    }' column-configuration='[
                    {
                      "displayName": "Location",
                      "cellTemplate": "{{> maplocation}}"
                    }, 
                    {
                      "displayName": "Name",
                      "cellTemplate": "{{> name}}"
                    }, 
                    {
                        "displayName": "Label",
                        "cellTemplate": "{{> label}}"
                    }, 
                    {
                        "displayName": "Geonames reference",
                        "cellTemplate": "{{> geonames}}"
                      }
                    ]'>
                    <!-- TODO: add coordinates in federated query from geonames or tabella-->
                    <template id="maplocation">
                      <div style="height:150px; width: 250px;">
                        <semantic-map
                        id='search-map'
                        fix-zoom-level="11"
                        query='SELECT ?lat ?lng ?description ?link WHERE {
                          VALUES(?lat ?lng ?description ?link) {
                            ("{{latitude_label.value}}" "{{longitude_label.value}}" "{{name.value}}" <http://www.wikidata.org/entity/Q22132500>)
                          }
                        }'
                        >
                      </semantic-map>
                      </div>
                    </template>
                    <template id="label">
                      <div style="display: flex; align-items: center;">
                        <a href="{{subject.value}}" target="_blank">{{label.value}}</a>
                      </div>
                    </template>
                    <template id="geonames">
                      <div style="display: flex; align-items: center;">
                        <a href="{{geonames_label.value}}" target="_blank">{{geonames_label.value}}</a>
                      </div>
                    </template>
                    <template id="name">
                        <mp-event-trigger 
                        id='{{subject.value}}-add-frame' 
                        type='Dashboard.AddFrame' 
                        data='{
                          "resourceIri": "{{subject.value}}", 
                          "viewId": "entity-editor"
                        }' 
                        targets='["thinking-frames"]'>
                        <div style="display: flex; align-items: center; font-weight: bold;">
                          <a href="{{subject.value}}">{{name.value}}</a>
                        </div>
                      </mp-event-trigger>
                    </template>
                  </semantic-table>
                </semantic-search-result>
              </bs-tab>
              <bs-tab event-key="2" title="Buildings">
                <semantic-context repository="ephedra">
                <semantic-search-result>
                  <semantic-table id='table-result-2' query='
                    SELECT ?subject ?label ?island_appellation ?wkt ?bw_id WHERE { 
                      ?subject a <https://veniss.net/ontology#Building>.
                      ?subject <http://www.w3.org/2000/01/rdf-schema#label> ?label.
                      ?subject <http://www.cidoc-crm.org/cidoc-crm/P53_has_former_or_current_location> ?island_node.
                      ?island_node <http://www.w3.org/2000/01/rdf-schema#label> ?island_label.
                      ?island_node <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?island_appellation_node.
                      ?island_appellation_node <http://www.w3.org/2000/01/rdf-schema#label> ?island_appellation.
                      
                      ?subject <http://www.cidoc-crm.org/cidoc-crm/P196i_is_defined_by> ?physical_changes.
                      ?physical_changes <http://www.cidoc-crm.org/cidoc-crm/P166i_had_presence> ?presence.
                      ?presence <http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation> ?representation.
                      ?representation <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://veniss.net/ontology#2d_representation>.
                      ?representation <http://www.w3.org/2000/01/rdf-schema#label> ?2d_representation_label.
              
                      SERVICE <http://www.researchspace.org/resource/system/repository/federation#geosql> {
                        ?root <http://www.researchspace.org/resource/system/sql#hasQueryId> "veniss_buildings_4326";
                        <http://www.researchspace.org/resource/system/service/veniss_sql#wkt> ?wkt;
                        <http://www.researchspace.org/resource/system/service/veniss_sql#bw_id> ?bw_id.
                      }
                      FILTER(?2d_representation_label = ?bw_id)
                    }
                  ' column-configuration='[
                    {
                      "displayName": "Shape",
                      "cellTemplate": "{{> shape}}"
                    },
                    {
                      "displayName": "Label",
                      "cellTemplate": "{{> label}}"
                    },
                    {
                      "displayName": "Island",
                      "cellTemplate": "{{> island}}"
                    }
                  ]'>
                    <template id="shape">
                      <div style="display: flex; align-items: center; font-weight: bold;">
                        <div style="height:100px; width: 250px;">
                          <semantic-map
                          fix-zoom-level="17"
                          query='
                          SELECT ?wkt ?description WHERE {
                            VALUES(?wkt ?description) {
                              ("{{{wkt.value}}}" "Geometry Visualization")
                            }
                          }
                        '
                        ></semantic-map>
                        </div>
                      </div>
                    </template>
                    <template id="label">
                      <mp-event-trigger 
                        id='{{subject.value}}-add-frame-label' 
                        type='Dashboard.AddFrame' 
                        data='{
                          "resourceIri": "{{subject.value}}", 
                          "viewId": "entity-editor"
                        }' 
                        targets='["thinking-frames"]'>
                        <div id='{{subject.value}}-addframe-label' style="display: flex; align-items: center; font-weight: bold;">
                          <a href="{{subject.value}}">{{label.value}}</a>
                        </div>
                      </mp-event-trigger>
                    </template>
                    <template id="island">
                      <div style="display: flex; align-items: center;">
                        <a href="{{island_node.value}}" target="_blank">{{island_appellation.value}}</a>
                      </div>
                    </template>
                  </semantic-table>
                </semantic-search-result>
              </semantic-context>
              </bs-tab>
              
              
              <bs-tab event-key="3" title="New Geometries">
                <semantic-search-result>
                  <semantic-context repository="ephedra">
                  <semantic-table id='table-result-3' query='
                    PREFIX veniss_sql: <http://www.researchspace.org/resource/system/service/veniss_sql#>
                    PREFIX rs_sql_sail: <http://www.researchspace.org/resource/system/sql#>
                    PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                    SELECT DISTINCT ?bw_id ?wkt WHERE {
                      SERVICE <http://www.researchspace.org/resource/system/repository/federation#geosql> {
                        ?root rs_sql_sail:hasQueryId "sansecondo_buildings";
                          veniss_sql:wkt ?wkt;
                          veniss_sql:bw_id ?bw_id.
                      }
                      MINUS {
                        ?building rdf:type <https://veniss.net/ontology#Building>.
                        ?building crm:P196_defines ?spacetime_volume.
                        ?spacetime_volume crm:P166i_had_presence ?phase.
                        ?phase crm:P138i_has_representation ?representation.
                        ?representation crm:P2_has_type <https://veniss.net/ontology#2d_representation>.
                        ?representation rdfs:label ?bw_id.
                      }
                    }' column-configuration='[
                      {
                        "displayName": "BW ID",
                        "cellTemplate": "{{> bwId}}"
                      },
                      {
                        "displayName": "Geometry",
                        "cellTemplate": "{{> geometry}}"
                      }
                    ]'>
                    <template id="bwId">
                      <div style="display: flex; align-items: center; font-weight: bold;">
                        {{bw_id.value}}
                      </div>
                    </template>
                    <template id="geometry">
                      <div style="height:100px; width: 250px;">
                        <semantic-map
                        fix-zoom-level="17"
                        query='
                          SELECT ?wkt ?description WHERE {
                            VALUES(?wkt ?description) {
                              ("{{wkt.value}}" "Geometry Visualization")
                            }
                          }
                        '
                      ></semantic-map>
                      </div>
                    </template>
                  </semantic-table>
                </semantic-context>
                </semantic-search-result>
              </bs-tab>
            </bs-tabs>
          </div>
        </semantic-search-result-holder>
      </semantic-search>
    </div>
  </div>
</div>


<style>
tr td:first-child {
  width: 300px;
}

  .subheader{
    padding-bottom: 40px;
    padding-left: 5px;
  }

  .subheader .btn {
    margin: 5px !important;
  }

  .btn a{
    color: white !important;
  }

  .ol-attribution {
    display: none;
  }
</style>