<semantic-form 
  id='{{viewId}}-vocab-form' 
  post-action="event"
  subject='{{node}}'
  new-subject-template='https://veniss.net/resource/actor/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
  fields='[[ fieldDefinitions
    type                                = "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    entity_published                    = "https://veniss.net/container/fieldDefinitionContainer/entity_published"
    entity_publication_notes            = "https://veniss.net/container/fieldDefinitionContainer/entity_publication_notes"
    entity_island                       = "https://veniss.net/container/fieldDefinitionContainer/source_island"

    event_label                         = "https://veniss.net/container/fieldDefinitionContainer/event_label"
    event_date                          = "https://veniss.net/container/fieldDefinitionContainer/event_date"
    event_synopsis                      = "https://veniss.net/container/fieldDefinitionContainer/event_synopsis"
    event_typology                      = "https://veniss.net/container/fieldDefinitionContainer/event_typology"
    event_entity                        = "https://veniss.net/container/fieldDefinitionContainer/event_entity"
  ]]'
>
  <div class="form-scroll-area">
    <div class="container-fluid">

      <semantic-form-errors></semantic-form-errors>

      <semantic-form-hidden-input for="type" default-values='["http://www.cidoc-crm.org/cidoc-crm/E5_Event", "https://veniss.net/ontology#Event"]'></semantic-form-hidden-input>

      <div data-flex-layout="row stretch-stretch">

        <!-- LEFT: General data -->
        <div  data-flex-layout="column top-stretch" class="left-column">

          <div data-flex-layout="column stretch-stretch">

            <div id="event_label" class="padding-5">
              <semantic-form-text-input label="Title" multiline="true" placeholder="Enter event title ..." for="event_label" languages='["en", "it"]'></semantic-form-text-input>
            </div>

            <div id="entity_island" class="padding-5">
              <semantic-form-select-input 
                for='entity_island' 
                label="Island"
                placeholder="Select the island">
              </semantic-form-select-input>
            </div>

            <hr>

            <div id="entity_publication_notes" class="padding-5">
              <semantic-form-text-input placeholder="Enter a note for the editor ..." multiline="true" label="Notes" for="entity_publication_notes"></semantic-form-text-input>
            </div>

            <div id="entity_published" class="padding-5">
              <semantic-form-checkbox-input label="Record completed?" for='entity_published'></semantic-form-checkbox-input>
            </div>

          </div>
        </div>

        <!-- Right -->
        <div data-flex-self="size-x3">

          <bs-tabs>
            <bs-tab event-key="1" title="Metadata">

              <div id="event_synopsis" class="padding-5">
                <semantic-form-text-input label="Synopsis" multiline="true" placeholder="Enter event synopsis ..." for="event_synopsis"></semantic-form-text-input>
              </div>

              <div id="event_typology" class="padding-5">
                <semantic-form-tree-picker-input label="Typology" placeholder="Select typology ..." for="event_typology"></semantic-form-tree-picker-input>
              </div>

              <div id="event_date" class="padding-5">
                <semantic-form-composite-input 
                  label="Event date" 
                  for='event_date' 
                  new-subject-template="/date" 
                  fields='[[fieldDefinitions
                    time_primitive_day = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_day"
                    time_primitive_month = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_month"
                    time_primitive_year = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_year"
                    time_primitive_note = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_note"
                  ]]'>

                    <div data-flex-layout="column top-stretch">
                      <div data-flex-layout="row top-stretch">
                        <div id="time_primitive_day" class="padding-5">
                          <semantic-form-text-input label="day" placeholder="dd" for="time_primitive_day"></semantic-form-text-input>
                        </div>
                        <div id="time_primitive_month" class="padding-5">
                          <semantic-form-text-input label="month" placeholder="mm" for="time_primitive_month"></semantic-form-text-input>
                        </div> 
                        <div id="time_primitive_year" class="padding-5">
                          <semantic-form-text-input label="year" placeholder="yyyy" for="time_primitive_year"></semantic-form-text-input>
                        </div>
                      </div>
                      <div id="time_primitive_year" class="padding-5">
                        <semantic-form-text-input label="note" placeholder="Date in natural language" for="time_primitive_note"></semantic-form-text-input>
                      </div>
                    </div>
                </semantic-form-composite-input>
              </div>

            </bs-tab>

            <bs-tab event-key="2" title="Related entities">

              <div id="event_entity" class="padding-5">

                <semantic-form-drag-and-drop-input 
                  label="Related Events"
                  for='event_entity'>

              </div>


            </bs-tab>
          </bs-tabs>

            
        </div>

      </div>
      

    </div>
  </div>
  [[> rsp:FormDefaultActions]]

  <style>
    .left-column{
      border-right: 1px solid #ccc;
      padding-right: 20px;
      margin-right: 20px;
    }
  </style>
  
</semantic-form>

