<div id="mainContainer">
    <div id="mapNavigatorContainer" class="flexrows">
    <!-- Event to handle bounding box search-->
    <mp-event-proxy
      id="on-moveend-search-map"
      on-event-source="search-map"
      on-event-type="SemanticMap.BoundingBoxChanged"
      proxy-event-type="SemanticSearch.QueryConstant.SetParameters"
      proxy-targets='["search-map-query"]'
    >
    </mp-event-proxy>

    <!-- Structured search with geospatial -->
    <semantic-context repository="ephedra">
      <semantic-search
        search-profile='{
          "categories": [{
            "iri": "<https://veniss.net/veniss_ontology#Event>",
            "label": "Event",
            "thumbnail": "../../assets/icons/Event.svg"
          },
          {
            "iri": "<https://veniss.net/veniss_ontology#Builtwork>",
            "label": "Builtwork",
            "thumbnail": "../../assets/icons/Builtwork.svg"
          }],
          "relations": [{
            "iri": "<https://veniss.net/veniss_ontology#related_to>",
            "label": "Related to",
            "hasDomain": "<https://veniss.net/veniss_ontology#Event>",
            "hasRange": "<https://veniss.net/veniss_ontology#Builtwork>"
          }]
        }'
      >

        <semantic-search-query-constant

          id="search-map-query"
          parameters='{
            "southWestLat": {"value": "1369976.3700049379840493"},
            "southWestLon": {"value": "5685579.3808039482682943"},
            "northEstLat": {"value": "1377990.9423133304808289"},
            "northEstLon": {"value": "5692943.0214672936126590"},
            "date": {"value": "1801-01-01"}
          }'
          query='
            SELECT DISTINCT ?subject ?bw_id ?wkt ?t ?z ?bob ?eoe WHERE {
                service <http://www.researchspace.org/resource/system/repository/federation#geosql> {
                    ?root rs_sql_sail:hasQueryId "production";	
                    veniss_sql:minX ?southWestLat;
                    veniss_sql:minY ?southWestLon;
                    veniss_sql:maxX ?northEstLat;
                    veniss_sql:maxY ?northEstLon;

                    veniss_sql:wkt ?wkt;
                    veniss_sql:bw_id ?bw_id;
                    veniss_sql:t ?t;
                    veniss_sql:z ?z;
                }
            }'
        ></semantic-search-query-constant>

        <semantic-search-result-holder>
          <div id="mapNavigatorRow">
            <semantic-map-controls
            id="search-map-control"
            target-map-id="search-map"
            features-taxonomies="name,use"
            features-color-taxonomies="use,function"
            features-colors-palette='{
              "military":"rgba(245,185,153,0.6)",
              "service":"rgba(124,164,204,0.6)",
              "abandoned":"rgba(183,161,209,0.6)",
              "religious":"rgba(0,63,114,0.6)",
              "water supply":"rgba(154,207,237)",
              "accomodation":"rgba(214,223,218,0.6)",
              "unknown":"rgba(173,195,165,0.6)",
              "kennel":"rgba(100,195,165,0.6)"
            }'
            features-options-enabled="true"
            filters-initialization='{"basemap":true,"overlay":true,"feature":true}'
            vector-levels='["Island","Buildings"]'
            show-filters="false"
            timeline='{
              "min":1500,
              "max":2025,
              "mode":"normal",
              "default":2025
            }'
            >
          </semantic-map-controls>
            <div id="mapContainer">[[> veniss:Map ]]</div>
          </div>
        </semantic-search-result-holder>
      </semantic-search>
    </semantic-context>
  </div>
</div>


<style>
  /* Fix scroll issue - ensure map fits viewport */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #mainContainer {
    height: calc(100vh - var(--nav-height, 58px));
    overflow: hidden;
  }
  
  #mapNavigatorContainer {
    height: 100%;
    overflow: hidden;
  }
  
  #mapNavigatorRow {
    height: 100%;
    overflow: hidden;
  }
  
  #mapContainer {
    height: 100%;
    overflow: hidden;
  }

  #sideNavbar {
    display: block !important;
  }

  #centralNavbar {
    display: none !important;
  }

  .colorsLegend {
    position: fixed;
    right: calc(var(--sidebar-width) + 20px) !important;
    top: 120px;
    left: auto !important;
    background-color: white;
    border-radius: 5px;
    z-index: 100000000;
    padding: 10px;
}

  #veniss_navbar {
  width: 100%;
  min-height: var(--nav-height, 58px);
    height: var(--nav-height, 58px);
    border: none;
    font-size: 14px;
    margin-bottom: 0px;
    background-color: var(--color-navbar-bg, #1d0a6e);
   z-index: 1030;
   right: 0;
   color: white !important;
   -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15); 
   box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.15);
}

.clonedNavbar:nth-child(2){
  display: none !important;
}
#veniss_navbar > li > a {
  font-weight: 300;
}

#veniss_navbar > #main-header-dropdown, .rs-application .navbar-default a#rs-account-dropdown {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 13.5px;
  background-color: transparent;
  font-weight: 300;
}

.btn.btn-default.component-page-toolbar__btn_edit {
  display: none !important;
}
</style>
