<semantic-form 
  new-subject-template='https://archipelago.itatti.harvard.edu/resource/actor/{{{{raw}}}}{{actorIdentifier}}{{{{/raw}}}}'
  fields='[
  {
    "id": "type",
    "label": "Type",
    "insertPattern": "INSERT { $subject a $value } WHERE {}",
    "selectPattern": "SELECT ?value WHERE { $subject a ?value }",
    "deletePattern": "DELETE { ?subject a ?value } WHERE {}",
    "xsdDatatype": "xsd:string"
  },
  {
    "id": "label",
    "label": "Label",
    "insertPattern": "INSERT { $subject rdfs:label ?label } WHERE {}",
    "selectPattern": "SELECT ?value WHERE { $subject rdfs:label ?value }",
    "deletePattern": "DELETE { ?subject rdfs:label ?value } WHERE {}",
    "minOccurs": "1",
    "maxOccurs": "1"
  }
  ]'
  [[>rsp:FormDefaults]]
  >
  <bs-row class="clearfix">
    <bs-col sm="6">
      <div class="form-scroll-area">
        <semantic-form-hidden-input
          for="type"
          default-values='["http://www.cidoc-crm.org/cidoc-crm/E39_Actor", "https://archipelago.itatti.harvard.edu/arconto#Actor", "https://archipelago.itatti.harvard.edu/arconto#Removable"]'
        ></semantic-form-hidden-input>
    
    
        <!-- label -->
        <semantic-form-text-input for="label" label="Label">
        </semantic-form-text-input>
      </div>
    </bs-col>
</bs-row>

  [[> rsp:FormDefaultActions]]
</semantic-form>
