<div class="page">
  <div class='page__body'>

  <div data-flex-layout="columns center-stretch">
    <div class="Header">
      <h1>Sources</h1>
      <hr>
    </div>

    <div class="subheader">

      <bs-alert bs-style="warning">
        <strong>A source is missing? </strong>
        <mp-event-trigger id='list-source__new-person-add-frame' 
          type='Dashboard.AddFrame' 
          data='{"viewId": "entity-editor"}' 
          targets='["thinking-frames"]'>
          <a>Create a new Entity</a>
        </mp-event-trigger>.
      </bs-alert>

    </div>

    <div class="body">
      <semantic-search>
        <semantic-search-query-constant query='
          select ?subject ?digital_image where { 
            ?subject a arconto:Source.
          }
        '>
        </semantic-search-query-constant>

        <div data-flex-layout="row stretch-stretch">
          <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
            <semantic-search-facet></semantic-search-facet>
          </div>

          <semantic-search-result-holder>
            <div data-flex-self="md-full">

              <semantic-search-result>
                <semantic-table 
                  id='table-result'
                  query='SELECT DISTINCT * WHERE { }'
                  column-configuration='[
                    {
                      "displayName": "Image",
                      "cellTemplate": "{{> visual_representation}}"
                    },
                    {"variableName": "subject", "displayName": "Name"},
                    {
                      "displayName": "Edit",
                      "cellTemplate": "{{> edit}}"
                    }
                  ]'
                >

                  <!-- Visual representation -->
                  <template id="visual_representation">

                    <semantic-context storage="veniss_s3">

                      <mp-resource-thumbnail iri='{{subject.value}}' class='detail-img'>
                          <mp-resource-thumbnail-fallback>
                              <with-types iri='{{subject.value}}'
                                      template='{{> noImage}}'
                                      [[> rsp:TypeMappings]]
                                  >
                                  <template id="noImage">
                                      <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                                  </template>
                              </with-types>
                          </mp-resource-thumbnail-fallback>
                      </mp-resource-thumbnail>

                    </semantic-context>
                    
                  </template>

                  <!-- Edit Template -->
                  <template id="edit">
                    <mp-event-trigger 
                      id='{{subject.value}}-add-frame' 
                      type='Dashboard.AddFrame' 
                      data='{
                        "resourceIri": "{{subject.value}}", 
                        "viewId": "entity-editor"
                      }' 
                      targets='["thinking-frames"]'>
                      <div style="display: flex; align-items: center;">
                        <a class="btn btn-primary"><span class="fa fa-pencil"></span></a>
                      </div>
                    </mp-event-trigger>  
                  </template>

                </semantic-table>
              </semantic-search-result>

            </div>
        </semantic-search-result-holder>
      </div>
    </semantic-search>
    </div>
  </div>
  
  

  


    <!--

      https://archipelago.itatti.harvard.edu/resource/actor/cb203d6e-cf78-11ec-88a8-3a5becfe4abd

      http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Actor

        <mp-event-trigger 
          id='list-actor__-add-frame' 
          type='Dashboard.AddFrame' 
          data='{
            "resourceIri": "http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Actor", 
            "viewId": "entity-editor"
          }' 
          targets='["thinking-frames"]'>
          <div style="display: flex; align-items: center;">
            <span class="btn btn-success">Create new Actor</span>
          </div>
        </mp-event-trigger> 
  -->
    

    

  </div>
</div>