<semantic-form 
  persistence='{"type": "sparql", "targetInsertGraphIri": "{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}", "repository":"{{#if scheme}}authorities{{else}}default{{/if}}"}'
  new-subject-template='{{#if scheme}}{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{else}}/actor/{{{{raw}}}}{{UUID}}{{{{/raw}}}}{{/if}}'
  fields='[[ fieldDefinitions
    type                                = "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    has_type                            = "http://www.cidoc-crm.org/cidoc-crm/P2_has_type" 

    entity_event                        = "https://veniss.net/container/fieldDefinitionContainer/entity_event"
    entity_published                    = "https://veniss.net/container/fieldDefinitionContainer/entity_published"
    entity_publication_notes            = "https://veniss.net/container/fieldDefinitionContainer/entity_publication_notes"

    actor_representation                = "https://veniss.net/container/fieldDefinitionContainer/actor_representation"
    
    group_appellation                   = "https://veniss.net/container/fieldDefinitionContainer/group_appellation"
    group_type                          = "https://veniss.net/container/fieldDefinitionContainer/group_type"
    group_where                         = "https://veniss.net/container/fieldDefinitionContainer/group_where"
    group_formation_date                = "https://veniss.net/container/fieldDefinitionContainer/group_formation_date"
    group_dissolution_date              = "https://veniss.net/container/fieldDefinitionContainer/group_dissolution_date"

    entity_is_domain_of_relation_actor      = "https://veniss.net/container/fieldDefinitionContainer/entity_is_domain_of_relation_actor"
    entity_is_range_of_relation_actor       = "https://veniss.net/container/fieldDefinitionContainer/entity_is_range_of_relation_actor"

    entity_is_domain_of_relation_event       = "https://veniss.net/container/fieldDefinitionContainer/entity_is_domain_of_relation_event"
    entity_is_range_of_relation_event      = "https://veniss.net/container/fieldDefinitionContainer/entity_is_range_of_relation_event"

    entity_is_domain_of_relation_place      = "https://veniss.net/container/fieldDefinitionContainer/entity_is_domain_of_relation_place"
    entity_is_range_of_relation_place       = "https://veniss.net/container/fieldDefinitionContainer/entity_is_range_of_relation_place"

    entity_is_domain_of_relation_source     = "https://veniss.net/container/fieldDefinitionContainer/entity_is_domain_of_relation_source"
    entity_is_range_of_relation_source      = "https://veniss.net/container/fieldDefinitionContainer/entity_is_range_of_relation_source"
  ]]'
  [[> rsp:FormDefaults]] 
>
  <semantic-form-hidden-input for="type" default-values='["http://www.cidoc-crm.org/cidoc-crm/E39_Actor","https://veniss.net/ontology#Group", "https://veniss.net/ontology#Actor"]'></semantic-form-hidden-input>
  <semantic-form-hidden-input for="has_type" default-value="http://www.researchspace.org/resource/system/vocab/resource_type/Group"></semantic-form-hidden-input>

  <div class="form-scroll-area">
    <div class="container-fluid">

      <bs-row>
        <bs-col md="6" sm="12">
          <div id="source_visual_representation" class="padding-5" class="left-column">
            <div id="actor_representation">
              <semantic-form-file-input 
                label="Visual representation"
                for="actor_representation"
                storage='images'
                temp-storage='tmp'
                placeholder='Add file here'
                name-predicate-iri='http://www.researchspace.org/ontology/PX_has_file_name'
                media-type-predicate-iri='http://www.researchspace.org/ontology/PX_has_media_type'
                resource-query='
                  PREFIX rso: <http://www.researchspace.org/ontology/>
                  CONSTRUCT {
                    ?__resourceIri__ a rso:EX_File.
                    ?__resourceIri__ rso:PX_has_file_name ?__fileName__.
                    ?__resourceIri__ rso:PX_has_media_type ?__mediaType__.
                    ?__resourceIri__ rdfs:label ?__filename__.
                  } WHERE {}
                '
                generate-iri-query='
                  SELECT ?resourceIri {
                    BIND(IRI(CONCAT(STR(Default:), "EX_File/", ?__fileName__)) AS ?resourceIri) .
                  }
                '
              ></semantic-form-file-input>
            </div>
          </div>
        </bs-col>

        <bs-col md="6" sm="12">
          <div id="group_appellation">
            <semantic-form-text-input label="Name" placeholder="Enter Group name ..." for="group_appellation" languages='["en","it"]'></semantic-form-text-input>
          </div>
        </bs-col>
      </bs-row>



      <div data-flex-layout="row stretch-stretch">

        <bs-tabs id="tabs">
          
          <bs-tab event-key="1" title="Details">

            <bs-row>


              <bs-col lg="6" md="12" sm="12">
                <div id="group_type">
                  <semantic-form-tree-picker-input 
                    label="Type" 
                    for='group_type'
                    placeholder="Click the + button and drag and drop"
                    nested-form-template='{{{{raw}}}}{{> veniss_forms_vocab:Actor nested=true editable=true mode="new" broader="https://veniss.net/resource/vocab/actor_types/7a5c1534-74b2-11ee-a7ed-3a5becfe4abe" }}{{{{/raw}}}}'
                    scheme-page-button-config='{
                      "iri": "http://www.researchspace.org/resource/ThinkingFrames",
                      "view": "authority-list",
                      "scheme": "https://veniss.net/resource/vocab/actor_types",
                      "tooltip": "Open list of terms"
                    }'>
                  </semantic-form-tree-picker-input>
                </div>
              </bs-col>
            </bs-row>

            <bs-row>
              <bs-col lg="12" md="12" sm="12">
              <div id="group_formation_date">
                <semantic-form-composite-input 
                  label="Formation date"
                  for='group_formation_date' 
                  new-subject-template="/formation/date" 
                  fields='[[fieldDefinitions
                    type                        = "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                    time_primitive_day          = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_day"
                    time_primitive_month        = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_month"
                    time_primitive_year         = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_year"
                  ]]'>
                  
                  <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span"></semantic-form-hidden-input>
                  
                  <bs-row>
                    <bs-col sm="4">
                      <semantic-form-text-input label="Day" placeholder="DD" for="time_primitive_day"></semantic-form-text-input>
                    </bs-col>

                    <bs-col sm="4">
                      <semantic-form-text-input label="Month" placeholder="MM" for="time_primitive_month"></semantic-form-text-input>
                    </bs-col>

                    <bs-col sm="4">
                      <semantic-form-text-input label="Year" placeholder="YYYY" for="time_primitive_year"></semantic-form-text-input>
                    </bs-col>
                  </bs-row>

                </semantic-form-composite-input>
              </div>
            </bs-col>
            </bs-row>

            <bs-row>
              <bs-col lg="12" md="12" sm="12">
              <div id="group_dissolution_date">
                <semantic-form-composite-input 
                  label="Dissolution date"
                  for='group_dissolution_date' 
                  new-subject-template="/dissolution/date" 
                  fields='[[fieldDefinitions
                    type                        = "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                    time_primitive_day          = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_day"
                    time_primitive_month        = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_month"
                    time_primitive_year         = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_year"
                  ]]'>
                  
                  <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span"></semantic-form-hidden-input>
                  
                  <bs-row>
                    <bs-col sm="4">
                      <semantic-form-text-input label="Day" placeholder="DD" for="time_primitive_day"></semantic-form-text-input>
                    </bs-col>

                    <bs-col sm="4">
                      <semantic-form-text-input label="Month" placeholder="MM" for="time_primitive_month"></semantic-form-text-input>
                    </bs-col>

                    <bs-col sm="4">
                      <semantic-form-text-input label="Year" placeholder="YYYY" for="time_primitive_year"></semantic-form-text-input>
                    </bs-col>
                  </bs-row>

                </semantic-form-composite-input>
              </div>
            </bs-col>
            </bs-row>

          </bs-tab>

          <!-- Related Entities -->
          <bs-tab event-key="2" title="Related Entities" disabled="{{#if node}}false{{else}}true{{/if}}">
            [[> veniss_forms:Relation ]]
          </bs-tab>


        </bs-tabs>

      </div>
      

    </div>
  </div>

  <semantic-form-errors></semantic-form-errors>
  
  [[> rsp:FormDefaultActions]]
</semantic-form>