<div class="page">

  <div data-flex-layout="columns center-stretch">
    <div class="Header">
      <h1>Builtworks</h1>
      <hr>
    </div>
    <div class="subheader">
        <h2>Create</h2>

        <!-- Island -->
        <button class="btn btn-success">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Island"
            urlqueryparam-mode="new"
          >
            + Island
          </semantic-link>
        </button>

        <!-- Building -->
        <button class="btn btn-primary">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Building"
            urlqueryparam-mode="new"
          >
            + Building
          </semantic-link>
        </button>


    </div>

    <div class="body">
      <semantic-search>
        <semantic-search-query-constant query='
          select ?subject where { 
            ?subject a veniss_ontology:Island.
          }
        '>
        </semantic-search-query-constant>

        <semantic-search-result-holder>
          <div data-flex-self="md-full">

            <!-- Count -->
            <semantic-search-result>
              <mp-sparql-result-counts id='query-count' query="SELECT DISTINCT * {}" template='{{>count}}'>
                <template id="count">
                  {{#if hasLimit}}
                  <bs-alert bs-style="warning">
                    Showing {{numberOfResults}} of {{totalNumberOfResults}} matches.
                    <strong>Please, refine your search.</strong>
                  </bs-alert>
                  {{else}}
                  <p>Found <strong>{{numberOfResults}}</strong> Builtworks.</p>
                  {{/if}}
                </template>
              </mp-sparql-result-counts>
            </semantic-search-result>


            <bs-tabs unmount-on-exit=true id='search-results' animation=false>

              <bs-tab event-key="1" title="Islands">



                <semantic-search-result>
                  <semantic-table id='table-result' query='SELECT * WHERE { 
                      ?subject a veniss_ontology:Island.
                      ?subject rdfs:label ?label.
                      ?subject crm:P1_is_identified_by ?appellation.
                      ?appellation rdfs:label ?name.
                      OPTIONAL {
                        ?subject crm:P87_is_identified_by ?latitude.
                        ?latitude crm:P2_has_type <https://veniss.net/ontology#latitude>.
                        ?latitude rdfs:label ?latitude_label. 
                        ?subject crm:P87_is_identified_by ?longitude.
                        ?longitude crm:P2_has_type <https://veniss.net/ontology#longitude>.
                        ?longitude rdfs:label ?longitude_label. 
                      }
                      OPTIONAL {
                        ?subject crm:P48_has_preferred_identifier ?geonames_identifier.
                        ?geonames_identifier rdfs:label ?geonames_label.
                      }
                    }' column-configuration='[
                    {
                      "displayName": "Location",
                      "cellTemplate": "{{> maplocation}}"
                    }, 
                    {
                      "displayName": "Name",
                      "cellTemplate": "{{> name}}"
                    }, 
                    {
                        "displayName": "Label",
                        "cellTemplate": "{{> label}}"
                    }, 
                    {
                        "displayName": "Geonames reference",
                        "cellTemplate": "{{> geonames}}"
                      }
                    ]'>
                    <!-- TODO: add coordinates in federated query from geonames or tabella-->
                    <template id="maplocation">
                      <div style="height:150px; width: 250px;">
                        <semantic-map-classic
                        id='search-map'
                        fix-zoom-level="11"
                        query='SELECT ?lat ?lng ?description ?link WHERE {
                          VALUES(?lat ?lng ?description ?link) {
                            ("{{latitude_label.value}}" "{{longitude_label.value}}" "{{name.value}}" <http://www.wikidata.org/entity/Q22132500>)
                          }
                        }'
                        >
                      </semantic-map-classic>
                      </div>
                    </template>
                    <template id="label">
                      <div style="display: flex; align-items: center;">
                        <a href="{{subject.value}}" target="_blank">{{label.value}}</a>
                      </div>
                    </template>
                    <template id="geonames">
                      <div style="display: flex; align-items: center;">
                        <a href="{{geonames_label.value}}" target="_blank">{{geonames_label.value}}</a>
                      </div>
                    </template>
                    <template id="name">
                        <mp-event-trigger 
                        id='{{subject.value}}-add-frame' 
                        type='Dashboard.AddFrame' 
                        data='{
                          "resourceIri": "{{subject.value}}", 
                          "viewId": "entity-editor"
                        }' 
                        targets='["thinking-frames"]'>
                        <div style="display: flex; align-items: center; font-weight: bold;">
                          <a href="{{subject.value}}">{{name.value}}</a>
                        </div>
                      </mp-event-trigger>
                    </template>
                  </semantic-table>
                </semantic-search-result>
              </bs-tab>
              <bs-tab event-key="2" title="Buildings">

              </bs-tab>
            </bs-tabs>
          </div>
        </semantic-search-result-holder>
      </semantic-search>
    </div>
  </div>
</div>


<style>
tr td:first-child {
  width: 300px;
}

  .subheader{
    padding-bottom: 40px;
    padding-left: 5px;
  }

  .subheader .btn {
    margin: 5px !important;
  }

  .btn a{
    color: white !important;
  }

  .ol-attribution {
    display: none;
  }
</style>