<div class="page">

  <div data-flex-layout="columns center-stretch">

    <div class="Header">
      <h1>List of actors</h1>
      <hr>
    </div>

    <div class="subheader">

      <!-- Primary -->
      <button class="btn btn-primary">
        <semantic-link 
          iri="http://www.researchspace.org/resource/ThinkingFrames"
          urlqueryparam-view="entity-editor"
          urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Person"
          urlqueryparam-mode="new"
        >
          + Person
        </semantic-link>
      </button>

      <!-- Secondary -->
      <button class="btn btn-success" style="margin-left: 5px">
        <semantic-link 
          iri="http://www.researchspace.org/resource/ThinkingFrames"
          urlqueryparam-view="entity-editor"
          urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Group"
          urlqueryparam-mode="new"
        >
          + Group
        </semantic-link>
      </button>

    </div>

    <div class="body">
      <semantic-search
      relations='{
            "<https://veniss.net/ontology#has_user>" : [{
              "kind": "resource",
              "queryPattern": "{
                ?subject a veniss_ontology:Actor.
                ?container <http://www.w3.org/ns/prov#wasAttributedTo> ?__value__.
  
                BIND(URI(CONCAT(STR(?subject), \"/container\")) as ?container)
              }"
            }]
          }'
          search-profile='{
            "categories":[
              {
                "iri": "<https://veniss.net/ontology#Source>",
                "label": "Source"
              },
              {
                "iri": "<https://veniss.net/ontology#Island>",
                "label": "Island"
              },
              {
                "iri": "<https://veniss.net/ontology#Actor>",
                "label": "Actor"
              },
              {
                "iri": "<http://www.researchspace.org/resource/User>",
                "label": "User"
              }
            ],
            "relations":[
              {
                "iri": "<https://veniss.net/ontology#has_user>",
                "label": "Curator",
                "hasDomain": "<https://veniss.net/ontology#Actor>",
                "hasRange": "<http://www.researchspace.org/resource/User>"
              }
            ]
          }'
      >
        <semantic-search-query-constant
          domain="<https://veniss.net/ontology#Actor>"
          query='
            SELECT DISTINCT ?subject WHERE { ?subject a veniss_ontology:Actor }'>
        </semantic-search-query-constant>

        <div data-flex-layout="row stretch-stretch">
          <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
            <semantic-search-facet open-by-default="true"></semantic-search-facet>
          </div>

          <semantic-search-result-holder>
            <div data-flex-self="md-full">

              <!-- Count -->
              <semantic-search-result>
                <mp-sparql-result-counts 
                  id='query-count'
                  query="SELECT DISTINCT * {}"
                  template='{{>count}}'>
                    <template id="count">
                      {{#if hasLimit}} 
                        <bs-alert bs-style="warning">
                          Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. 
                          <strong>Please, refine your search.</strong> 
                        </bs-alert>
                      {{else}}
                          <p>Found <strong>{{numberOfResults}}</strong> Actors.</p>
                      {{/if}}
                    </template>
                </mp-sparql-result-counts>
              </semantic-search-result>

              <bs-tabs>
                <!-- Person -->
                <bs-tab event-key="1" title="Person">
                  <semantic-search-result>
                    <semantic-table 
                      id='table-result'
                      query='
                        SELECT DISTINCT ?subject ?birth_year ?death_year WHERE {
                          ?subject a veniss_ontology:Person.
                          OPTIONAL {
                              ?subject crm:P98i_was_born ?birth.
                              ?birth a crm:E67_Birth;
                                    crm:P4_has_time-span ?birth_timespan.
                              ?birth_timespan crm:P170i_time_is_defined_by ?time_primitive_birth.
                              ?time_primitive_birth a crm:E61_Time-Primitive;
                                crm:P2_has_type <https://veniss.net/resource/type/time_primitive_year>;
                                rdfs:label ?birth_year
                          }
                          OPTIONAL {
                            ?subject crm:P100i_died_in ?death.
                              ?death a crm:E69_Death;
                                    crm:P4_has_time-span ?death_timespan.
                            ?death_timespan crm:P170i_time_is_defined_by ?time_primitive_death.
                              ?time_primitive_death a crm:E61_Time-Primitive;
                                    crm:P2_has_type <https://veniss.net/resource/type/time_primitive_year>;
                                  rdfs:label ?death_year.
                            }                    
                          } order by DESC(?birth_year) DESC(?death_year)'
                      tuple-template="{{> table-row}}"
                    >

                      <template id="table-row">
                        <mp-event-trigger 
                          id='{{subject.value}}-add-frame' 
                          type='Dashboard.AddFrame' 
                          data='{
                            "resourceIri": "{{subject.value}}", 
                            "viewId": "entity-editor"
                          }' 
                          targets='["thinking-frames"]'>
                          <bs-row class="clickable-row">
                            <bs-col sm="1" md="1">
                              {{>visual_representation}}
                            </bs-col>
                            <bs-col sm="7" md="7">
                              <h3><mp-label iri="{{subject.value}}"></mp-label></h3>
                              <p>
                                <em>
                                  <semantic-query
                                    query='SELECT ?title WHERE {
                                      ?subject crm:P1_is_identified_by ?title.
                                      ?title crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/actor_types>
                                    }'  
                                  ></semantic-query>
                                </em>
                              </p>
                            </bs-col>

                            <bs-col sm="2" md="2">
                              {{#if birth_year}}
                                <p>{{birth_year.value}}</p>
                              {{/if}}
                            </bs-col>

                            <bs-col sm="2" md="2">
                              {{#if death_year}}
                                <p>{{death_year.value}}</p>
                              {{/if}}
                            </bs-col>
                            
                          </bs-row>
                        </mp-event-trigger>
                      </template>

                      <template id="visual_representation">

                        <semantic-context storage="images">

                          <mp-resource-thumbnail style="height: 100px" iri='{{subject.value}}' class='detail-img'>
                              <mp-resource-thumbnail-fallback>
                                  <with-types iri='{{subject.value}}'
                                          template='{{> noImage}}'
                                          [[> rsp:TypeMappings]]
                                      >
                                      <template id="noImage">
                                          <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-actor_no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                                      </template>
                                  </with-types>
                              </mp-resource-thumbnail-fallback>
                          </mp-resource-thumbnail>

                        </semantic-context>
                        
                      </template>

                    </semantic-table>
                  </semantic-search-result>
                </bs-tab>

                <!-- Group -->
                <bs-tab event-key="2" title="Group">
                    <semantic-table 
                      id='table-result'
                      query='
                        SELECT DISTINCT ?subject ?birth_year ?death_year WHERE {
                          ?subject a veniss_ontology:Group.
                          OPTIONAL {
                              ?subject crm:P98i_was_born ?birth.
                              ?birth a crm:E67_Birth;
                                    crm:P4_has_time-span ?birth_timespan.
                              ?birth_timespan crm:P170i_time_is_defined_by ?time_primitive_birth.
                              ?time_primitive_birth a crm:E61_Time-Primitive;
                                crm:P2_has_type <https://veniss.net/resource/type/time_primitive_year>;
                                rdfs:label ?birth_year
                          }
                          OPTIONAL {
                            ?subject crm:P100i_died_in ?death.
                              ?death a crm:E69_Death;
                                    crm:P4_has_time-span ?death_timespan.
                            ?death_timespan crm:P170i_time_is_defined_by ?time_primitive_death.
                              ?time_primitive_death a crm:E61_Time-Primitive;
                                    crm:P2_has_type <https://veniss.net/resource/type/time_primitive_year>;
                                  rdfs:label ?death_year.
                            }                    
                          } order by DESC(?birth_year) DESC(?death_year)'
                      tuple-template="{{> table-row}}"
                    >

                      <template id="table-row">
                        <mp-event-trigger 
                          id='{{subject.value}}-add-frame' 
                          type='Dashboard.AddFrame' 
                          data='{
                            "resourceIri": "{{subject.value}}", 
                            "viewId": "entity-editor"
                          }' 
                          targets='["thinking-frames"]'>
                          <bs-row class="clickable-row">
                            <bs-col sm="1" md="1">
                              {{>visual_representation}}
                            </bs-col>
                            <bs-col sm="7" md="7">
                              <h3><mp-label iri="{{subject.value}}"></mp-label></h3>
                              <p>
                                <em>
                                  <semantic-query
                                    query='SELECT ?title WHERE {
                                      ?subject crm:P1_is_identified_by ?title.
                                      ?title crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/actor_types>
                                    }'  
                                  ></semantic-query>
                                </em>
                              </p>
                            </bs-col>

                            <bs-col sm="2" md="2">
                              {{#if birth_year}}
                                <p>{{birth_year.value}}</p>
                              {{/if}}
                            </bs-col>

                            <bs-col sm="2" md="2">
                              {{#if death_year}}
                                <p>{{death_year.value}}</p>
                              {{/if}}
                            </bs-col>
                            
                          </bs-row>
                        </mp-event-trigger>
                      </template>

                      <template id="visual_representation">

                        <semantic-context storage="images">

                          <mp-resource-thumbnail style="height: 100px" iri='{{subject.value}}' class='detail-img'>
                              <mp-resource-thumbnail-fallback>
                                  <with-types iri='{{subject.value}}'
                                          template='{{> noImage}}'
                                          [[> rsp:TypeMappings]]
                                      >
                                      <template id="noImage">
                                          <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-actor_no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                                      </template>
                                  </with-types>
                              </mp-resource-thumbnail-fallback>
                          </mp-resource-thumbnail>

                        </semantic-context>
                        
                      </template>

                    </semantic-table>
                </bs-tab>

              </bs-tabs>



            </div>
        </semantic-search-result-holder>
      </div>
    </semantic-search>
    </div>

  </div>    

</div>

<style>
  .page{
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-container {
    margin-top: 10px;
  }
  .btn a{
    color: #fff!important;
  }

  .griddle-custom-row{
    display: block!important;
  }
  .clickable-row{
    padding: 10px 0;
    border-top: 1px solid lightgrey;
  }

  .clickable-row:first-child{
    border-top: none;
  }

  .clickable-row:hover{
    background-color: var(--color-primary-10);;
    cursor: pointer;
  }

  .clickable-row .detail-img{
    min-width: 80px;
    height: 80px;
    object-fit: cover;
  }

</style>