
<semantic-form [[> rsp:FormDefaults]] 
  persistence='{"type": "sparql", "targetGraphIri": "{{scheme}}"}'
  new-subject-template='{{scheme}}/{{{{raw}}}}{{label}}{{{{/raw}}}}'
  fields='[[
    fieldDefinitions
      inScheme="http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"
      classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
      builtworkLabel="http://localhost:10214/container/fieldDefinitionContainer/builtwork_label"
      identified_by="http://www.researchspace.org/pattern/vocabulary_manager/crm:P1_is_identified_by"
      label="http://www.researchspace.org/pattern/general/rdfs:label"
    ]]'
>

<div class="form-scroll-area">
  <semantic-form-hidden-input for="classtype" default-values='["http://www.cidoc-crm.org/cidoc-crm/E39_Actor"]'></semantic-form-hidden-input>
  <semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"> </semantic-form-hidden-input>  

  <!-- NAME -->
  <semantic-form-text-input for="label" label="Name"> </semantic-form-text-input>

</div>

[[> rsp:FormDefaultActions]] 
</semantic-form>
