<semantic-form
  new-subject-template='https://archipelago.itatti.harvard.edu/resource/source/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
  fields='[[ fieldDefinitions
    type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    label="http://www.researchspace.org/pattern/general/rdfs:label"
    is_listed_in="http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"
  ]]'
  [[>rsp:FormDefaults]]
>
<div class="form-scroll-area">
  <semantic-form-hidden-input for="type" default-values='["http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object","https://archipelago.itatti.harvard.edu/arconto#Source"]'></semantic-form-hidden-input>
  <semantic-form-hidden-input for="is_listed_in" default-value='http://www.researchspace.org/resource/vocab/actor_types'></semantic-form-hidden-input>

  <!-- Source name-->
  <semantic-form-text-input languages='["en", "it"]' label="Title" for="label"></semantic-form-text-input>
</div>

[[> rsp:FormDefaultActions]]
</semantic-form>