<mp-event-target-template-render id='sidebar' template='{{> sidebar_tmpl}}'>
    <template id='sidebar_tmpl'>
        <div>
            <semantic-query
                query='
                SELECT * WHERE {
                    ?sou a <https://archipelago.itatti.harvard.edu/resource/Source> .
                    ?sou <https://archipelago.itatti.harvard.edu/resource/Image> ?img .
                    ?sou rdfs:label ?lbl
                    }
                '
                template='{{> displayer}}'>
                    <template id='displayer'>
                        {{log this}}
                        <div>
                            {{#each bindings}}
                                <strong>{{lbl.value}}</strong>
                                <br>
                                <img class="navigator-img" src="../../assets/images/{{img.value}}" alt="{{lbl.value}}">
                                <hr>
                            {{/each}}
                        </div>
                    </template>
            </semantic-query>
        </div>
    </template>
</mp-event-target-template-render>



</semantic-query>

<style>
    .navigator-img{
        width: 250px;
    }
</style>