<mp-event-target-template-render id='sidebar' template='{{> sidebar_tmpl}}'>
    <template id='sidebar_tmpl'>
        {{#if showbasemaps}}
            <h2>Basemaps</h2>
            
        {{else if showhistoricalmaps}}
            <h2>Historical Maps</h2>


        {{else if showoptions}}
            <h2 id="mapControlsTitle">Map Controls</h2>
            <semantic-map-controls id="search-map-control" target-map-id="search-map" features-taxonomies="use,function,name" features-color-taxonomies="use,function"></semantic-map-controls>
        {{else}}
        <div>
            <semantic-query
                    query='
                SELECT * WHERE {
                    ?sou a <https://archipelago.itatti.harvard.edu/resource/Source> .
                    ?sou <https://archipelago.itatti.harvard.edu/resource/Image> ?img .
                    ?sou rdfs:label ?lbl
                    }
                '
                    template='{{> displayer}}'>
                <template id='displayer'>
                    {{log this}}
                    <div class="navigatorEntity">
                        {{#each bindings}}
                        <div class="navigatorTitles">{{lbl.value}}</div>
                        <img class="navigator-img" src="../../assets/images/{{img.value}}" alt="{{lbl.value}}">
                        {{/each}}
                    </div>
                </template>
            </semantic-query>
        </div>
        {{/if}}
    </template>
</mp-event-target-template-render>



</semantic-query>

<style>
    .navigator-img{
        width: 250px;
    }
</style>