<div class="page">

  <div data-flex-layout="columns center-stretch">
    <div class="Header">
      <h1>Builtworks</h1>
      <hr>
    </div>
    <div class="subheader">
        <h2>Create</h2>

        <!-- Island -->
        <button class="btn btn-success">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Island"
            urlqueryparam-mode="new"
          >
            + Island
          </semantic-link>
        </button>

        <!-- Building -->
        <button class="btn btn-primary">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Building"
            urlqueryparam-mode="new"
          >
            + Building
          </semantic-link>
        </button>


    </div>

    <div id="builtwork_list" class="body">
      <semantic-search>
        <semantic-search-query-constant query='
          SELECT ?subject 
          WHERE {
            ?subject a ?type.
            ?type rdfs:subClassOf <https://veniss.net/ontology#Builtwork>.
          }
        '>
        </semantic-search-query-constant>

        <semantic-search-result-holder>
          <div data-flex-self="md-full">

            <!-- Count -->
            <semantic-search-result>
              <mp-sparql-result-counts id='query-count' query="SELECT DISTINCT * {}" template='{{>count}}'>
                <template id="count">
                  {{#if hasLimit}}
                  <bs-alert bs-style="warning">
                    Showing {{numberOfResults}} of {{totalNumberOfResults}} matches.
                    <strong>Please, refine your search.</strong>
                  </bs-alert>
                  {{else}}
                  <div style="margin-left:5px;">
                    <h2>List</h2>
                    </div>
                  <p>Found <strong>{{numberOfResults}}</strong> Builtworks.</p>
                  {{/if}}
                </template>
              </mp-sparql-result-counts>
            </semantic-search-result>

            <bs-tabs unmount-on-exit=true id='search-results' animation=false>

              <bs-tab event-key="1" title="Islands">



                <semantic-search-result>
                  <semantic-table id='table-result' query='SELECT * WHERE { 
                      ?subject a veniss_ontology:Island.
                      ?subject rdfs:label ?label.
                      ?subject crm:P1_is_identified_by ?appellation.
                      ?appellation rdfs:label ?name.
                      OPTIONAL {
                        ?subject crm:P87_is_identified_by ?latitude.
                        ?latitude crm:P2_has_type <https://veniss.net/ontology#latitude>.
                        ?latitude rdfs:label ?latitude_label. 
                        ?subject crm:P87_is_identified_by ?longitude.
                        ?longitude crm:P2_has_type <https://veniss.net/ontology#longitude>.
                        ?longitude rdfs:label ?longitude_label. 
                      }
                      OPTIONAL {
                        ?subject crm:P48_has_preferred_identifier ?geonames_identifier.
                        ?geonames_identifier rdfs:label ?geonames_label.
                      }
                    }' column-configuration='[
                    {
                      "displayName": "Location",
                      "cellTemplate": "{{> maplocation}}"
                    }, 
                    {
                      "displayName": "Name",
                      "cellTemplate": "{{> name}}"
                    }, 
                    {
                        "displayName": "Label",
                        "cellTemplate": "{{> label}}"
                    }, 
                    {
                        "displayName": "Geonames reference",
                        "cellTemplate": "{{> geonames}}"
                      }
                    ]'>
                    <!-- TODO: add coordinates in federated query from geonames or tabella-->
                    <template id="maplocation">
                      <div style="height:150px; width: 250px;">
                        <semantic-map
                        id='search-map'
                        fix-zoom-level="11"
                        query='SELECT ?lat ?lng ?description ?link WHERE {
                          VALUES(?lat ?lng ?description ?link) {
                            ("{{latitude_label.value}}" "{{longitude_label.value}}" "{{name.value}}" <http://www.wikidata.org/entity/Q22132500>)
                          }
                        }'
                        >
                      </semantic-map>
                      </div>
                    </template>
                    <template id="label">
                      <div style="display: flex; align-items: center;">
                        <a href="{{subject.value}}" target="_blank">{{label.value}}</a>
                      </div>
                    </template>
                    <template id="geonames">
                      <div style="display: flex; align-items: center;">
                        <a href="{{geonames_label.value}}" target="_blank">{{geonames_label.value}}</a>
                      </div>
                    </template>
                    <template id="name">
                        <mp-event-trigger 
                        id='{{subject.value}}-add-frame' 
                        type='Dashboard.AddFrame' 
                        data='{
                          "resourceIri": "{{subject.value}}", 
                          "viewId": "entity-editor"
                        }' 
                        targets='["thinking-frames"]'>
                        <div style="display: flex; align-items: center; font-weight: bold;">
                          <a href="{{subject.value}}">{{name.value}}</a>
                        </div>
                      </mp-event-trigger>
                    </template>
                  </semantic-table>
                </semantic-search-result>
              </bs-tab>

              <bs-tab event-key="2" title="Buildings">
                <semantic-context repository="ephedra">
                  <semantic-search-result>
                    <semantic-table id='table-result-2' query='
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                      PREFIX sql: <http://www.researchspace.org/resource/system/sql#>
                      PREFIX veniss_sql: <http://www.researchspace.org/resource/system/service/veniss_sql#>
                      
                      SELECT
                        ?subject ?label ?island_appellation ?island_node
                        ?number_of_phases ?construction ?demolition
                      WHERE {
                        # Main building information
                        ?subject a <https://veniss.net/ontology#Building> .
                        ?subject rdfs:label ?label .
                        ?subject crm:P53_has_former_or_current_location ?island_node .
                        ?island_node crm:P1_is_identified_by ?island_appellation_node .
                        ?island_appellation_node rdfs:label ?island_appellation .
              
                        # Get per-building aggregates: construction, demolition, number of phases
                        {
                          SELECT ?subject
                                 (MIN(?start) AS ?construction)
                                 (MAX(?end) AS ?demolition)
                                 (COUNT(DISTINCT ?presence) AS ?number_of_phases)
                          WHERE {
                            ?subject crm:P196i_is_defined_by ?physical_changes .
                            ?physical_changes crm:P166i_had_presence ?presence .
                            ?presence crm:P4_has_time-span ?time_span .
                            ?time_span crm:P82a_begin_of_the_begin ?bob .
                            OPTIONAL { 
                              ?time_span crm:P82b_end_of_the_end ?eoe 
                              BIND(YEAR(?eoe) AS ?end)   
                            }
                            BIND(YEAR(?bob) AS ?start) 
                          }
                          GROUP BY ?subject
                        }
                      }
                    ' 
                    tuple-template="{{>table-row}}">

                      <template id="table-row">
                        <div class="clickable-row">
                          <bs-row class="show-one">
                            <bs-col sm="2" md="2">
                              <strong>Shape</strong>
                            </bs-col>
                            <bs-col sm="3" md="3">
                              <strong>Label</strong>
                            </bs-col>
                            <bs-col sm="2" md="2">
                              <strong>Island</strong>
                            </bs-col>
                            <bs-col sm="1" md="1">
                              <strong>Phases</strong>
                            </bs-col>
                            <bs-col sm="2" md="2">
                              <strong>From</strong>
                            </bs-col>
                            <bs-col sm="2" md="2">
                              <strong>To</strong>
                            </bs-col>
                          </bs-row>
                          <div class="data">
                            <mp-collapsible-div expanded='false'>
                              <mp-collapsible-div-trigger>
                                <bs-row>
                                  <bs-col sm="3" md="3" sm-offset="2" md-offset="2">{{>label}}</bs-col>
                                  <bs-col sm="2" md="2">{{>island}}</bs-col>
                                  <bs-col sm="1" md="1">{{>phases}}</bs-col>
                                  <bs-col sm="2" md="2">{{>construction}}</bs-col>
                                  <bs-col sm="2" md="2">{{>demolition}}</bs-col>
                                </bs-row>
                              </mp-collapsible-div-trigger>

                              <mp-collapsible-div-content>
                                <semantic-query
                                  query='
                                    SELECT ?presence ?bw_id ?wkt ?start ?end WHERE { 
                                      <{{subject.value}}> 
                                              crm:P196i_is_defined_by ?physical_changes.
                                      
                                      ?physical_changes crm:P166i_had_presence ?presence.
                                      ?presence crm:P138i_has_representation ?representation;
                                                crm:P4_has_time-span ?time_span.
                                      
                                      ?time_span crm:P82a_begin_of_the_begin ?bob.

                                      OPTIONAL {
                                        ?time_span crm:P82b_end_of_the_end ?eoe.
                                        BIND(YEAR(?eoe) AS ?end)
                                      }

                                      BIND(YEAR(?bob) AS ?start)

                                      ?representation crm:P2_has_type veniss_ontology:2d_representation;
                                        rdfs:label ?bw_id.

                                      SERVICE <http://www.researchspace.org/resource/system/repository/federation#geosql> {
                                        ?root <http://www.researchspace.org/resource/system/sql#hasQueryId> "veniss_buildings_4326";
                                        <http://www.researchspace.org/resource/system/service/veniss_sql#wkt> ?wkt;
                                        <http://www.researchspace.org/resource/system/service/veniss_sql#bw_id> ?bw_id.
                                      }
                                    } ORDER BY DESC(?start) 
                                  '
                                  template='{{>presence}}'
                                >
                                  <template id="presence">
                                    {{#each bindings }}
                                      <bs-row style="margin-top: 10px;">
                                        <bs-col sm="2" md="2">
                                          <div style="height:100px">
                                            <semantic-map
                                              fix-zoom-level="17"
                                              query='
                                              SELECT ?wkt ?description WHERE {
                                                VALUES(?wkt ?description) {
                                                  ("{{{wkt.value}}}" "Geometry Visualization")
                                                }
                                              }
                                            '
                                            ></semantic-map>
                                          </div>
                                        </bs-col>
                                        <bs-col sm="3" md="3">
                                          <strong>{{bw_id.value}}</strong>  
                                        </bs-col>
                                        <bs-col sm="2" md="2" sm-offset="3" md-offset="3">
                                          {{start.value}}
                                        </bs-col>
                                        <bs-col sm="2" md="2">
                                          {{end.value}}
                                        </bs-col>
                                      </bs-row>
                                    {{/each}}
                                    </bs-row>
                                    
                                  </template>
                                </semantic-query>
                              </mp-collapsible-div-content>
                            </mp-collapsible-div>
                          </div>
                        </div>
                      </template>

                      <template id="label">
                        <mp-draggable iri='{{subject.value}}'>
                          <span class="rs-draggable-container">
                            <mp-event-trigger 
                              id='{{subject.value}}-add-frame' 
                              type='Dashboard.AddFrame' 
                              data='{
                                "resourceIri": "{{subject.value}}", 
                                "viewId": "entity-editor"
                              }' 
                              targets='["thinking-frames"]'>
                              <strong style="text-decoration: underline;">{{label.value}}</strong>
                                
                            </mp-event-trigger>
                          </span>
                        </mp-draggable>
                      </template>

                      <template id="island">
                        <a href="{{island_node.value}}" target="_blank">{{island_appellation.value}}</a>
                      </template>

                      <template id="phases">
                        <mp-collapsible-div-trigger>
                        {{number_of_phases.value}}
                        </mp-collapsible-div-trigger>
                      </template>

                      <template id="construction">
                        {{construction.value}}
                      </template>

                      <template id="demolition">
                        {{demolition.value}}
                      </template>

                    </semantic-table>
                  </semantic-search-result>
                </semantic-context>
              </bs-tab>

              <bs-tab event-key="3" title="New Geometries">
                <semantic-search-result>
                  <semantic-context repository="ephedra">
                  <semantic-table id='table-result-3' query='
                    PREFIX veniss_sql: <http://www.researchspace.org/resource/system/service/veniss_sql#>
                    PREFIX rs_sql_sail: <http://www.researchspace.org/resource/system/sql#>
                    PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                    SELECT DISTINCT ?bw_id ?wkt WHERE {
                      SERVICE <http://www.researchspace.org/resource/system/repository/federation#geosql> {
                        ?root rs_sql_sail:hasQueryId "veniss_buildings_4326";
                          veniss_sql:wkt ?wkt;
                          veniss_sql:bw_id ?bw_id.
                      }
                      MINUS {
                        ?building rdf:type <https://veniss.net/ontology#Building>.
                        ?building crm:P196_defines ?spacetime_volume.
                        ?spacetime_volume crm:P166i_had_presence ?phase.
                        ?phase crm:P138i_has_representation ?representation.
                        ?representation crm:P2_has_type <https://veniss.net/ontology#2d_representation>.
                        ?representation rdfs:label ?bw_id.
                      }
                    }' column-configuration='[
                      {
                        "displayName": "BW ID",
                        "cellTemplate": "{{> bwId}}"
                      },
                      {
                        "displayName": "Geometry",
                        "cellTemplate": "{{> geometry}}"
                      }
                    ]'>
                    <template id="bwId">
                      <div style="display: flex; align-items: center; font-weight: bold;">
                        {{bw_id.value}}
                      </div>
                    </template>
                    <template id="geometry">
                      <div style="height:100px; width: 250px;">
                        <semantic-map
                        fix-zoom-level="17"
                        query='
                          SELECT ?wkt ?description WHERE {
                            VALUES(?wkt ?description) {
                              ("{{wkt.value}}" "Geometry Visualization")
                            }
                          }
                        '
                      ></semantic-map>
                      </div>
                    </template>
                  </semantic-table>
                </semantic-context>
                </semantic-search-result>
              </bs-tab>

            </bs-tabs>
          </div>
        </semantic-search-result-holder>
      </semantic-search>
    </div>
  </div>
</div>


<style>
tr td:first-child {
  width: 300px;
}

  .subheader{
    padding-bottom: 40px;
    padding-left: 5px;
  }

  .subheader .btn {
    margin: 5px !important;
  }

  .btn a{
    color: white !important;
  }

  .ol-attribution {
    display: none;
  }

  #builtwork_list .griddle-custom-row{
    display: block!important;
  }
  #builtwork_list .clickable-row .data{
    padding: 10px 0;
    border-top: 1px solid lightgrey!important;
  }
  #builtwork_list .clickable-row:first-child .data:first-child{
    border-top: none;
  }
  #builtwork_list .clickable-row .data:hover{
    background-color: var(--color-primary-10);;
    cursor: pointer;
  }
  #builtwork_list .clickable-row .detail-img{
    min-width: 80px;
    height: 80px;
    object-fit: cover;
  }
  #builtwork_list .show-one{
    display: none;
  }
  #builtwork_list .clickable-row:first-of-type .show-one{
    display: block!important;
    margin-bottom: 10px;
  }
  #builtwork_list .rs-draggable-container{
    padding: none;
    border: none;
  }

  #builtwork_list .collapsible-panel-trigger::before{
    display: none;
  }

  #builtwork_list .rs-draggable-container{
    padding: 0!important;
    margin-bottom: 0!important;
  }

  #builtwork_list .collapsible-div-content{
    padding: 0!important;
  }

  #builtwork_list .collapsible-div-content .row{
  }

  #builtwork_list .ol-zoom {
    display: none!important;
  }
</style>