

<semantic-form
  persistence='{"type": "sparql", "targetInsertGraphIri": "{{#if scheme}}{{scheme}}{{else}}http://www.researchspace.org/resource/g/data{{/if}}", "repository":"{{#if scheme}}authorities{{else}}default{{/if}}"}'
  new-subject-template="https://veniss.net/resource/archival_entity/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
  fields='[[ fieldDefinitions
    type                                    = "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    has_type                                = "http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
     
    is_listed_in                            = "http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"

    vocab_entry_label                       = "https://veniss.net/container/fieldDefinitionContainer/vocab_entry_label"
    vocab_entry_partof                      = "https://veniss.net/container/fieldDefinitionContainer/vocab_entry_partof"
    vocab_entry_equivalent                  = "https://veniss.net/container/fieldDefinitionContainer/vocab_entry_equivalent"
    vocab_entry_archival_unit_typology      = "https://veniss.net/container/fieldDefinitionContainer/vocab_entry_archival_unit_typology"
    vocab_entry_archival_unit_acronym       = "https://veniss.net/container/fieldDefinitionContainer/vocab_entry_archival_unit_acronym"
    vocab_entry_archival_unit_prefix        = "https://veniss.net/container/fieldDefinitionContainer/vocab_entry_archival_unit_prefix"

  ]]'
  [[> rsp:FormDefaults]]
  >

  <semantic-form-errors></semantic-form-errors>
  <div class="form-scroll-area">

    <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E78_Collection'></semantic-form-hidden-input>
    <semantic-form-hidden-input for="is_listed_in" default-value="http://www.researchspace.org/resource/vocab/archives"></semantic-form-hidden-input>

    <div data-flex-layout="column stretch-stretch">
      <div id="vocab_entry_label" class="padding-5">
        <semantic-form-text-input languages='["it", "en"]' label="Unit appellation" placeholder="Enter unit appellation ..." for="vocab_entry_label"></semantic-form-text-input>
      </div>
    </div>
   
    <div data-flex-layout="column stretch-stretch">

      <div data-flex-layout="row stretch-stretch">

        <!--
        <div id="vocab_entry_archival_unit_typology" class="padding-5">
          <semantic-form-select-input label="Typology", placeholder="Select unit typology ..." for="vocab_entry_archival_unit_typology"></semantic-form-select-input>
        </div>
        -->

        <!-- Unit Acronym -->
        <div id="vocab_entry_archival_unit_acronym" class="padding-5">
          <semantic-form-text-input label="Displayed name" placeholder="Enter unit Unit acronym ..." for="vocab_entry_archival_unit_acronym"></semantic-form-text-input>
        </div>

        <!-- Unit suffix -->
        <div id="vocab_entry_archival_unit_prefix" class="padding-5">
          <semantic-form-text-input label="Prefix" placeholder="Enter unit Unit prefix ..." for="vocab_entry_archival_unit_prefix"></semantic-form-text-input>
        </div>

      </div>

    </div>

    <hr>

    <div data-flex-layout="column top-stretch" style="margin-top: 50px">

      <bs-alert bs-style="warning">
        <p><strong>Danger zone!</strong> Do not change unless you know what you are doing.</p>

              <!-- add broader if there is one -->
        <div id="vocab_entry_partof" class="archival-unit">
          <semantic-form-tree-picker-input 
            label="Parent archival unit" 
            placeholder="Select parent archival unit ..." 
            for="vocab_entry_partof"
            default-value="{{broader}}"
            readonly="true"
            query-item-label='
              SELECT ?label where {
                ?item crm:P1_is_identified_by ?path_app .
                ?path_app a crm:E41_Appellation ;
                  crm:P2_has_type veniss_types:path ;
                  rdfs:label ?label .
              }
            '
            tree-patterns='{
              "relationPattern": "?item crm:P46i_forms_part_of ?parent", 
              "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/archives>"
            }'>
          </semantic-form-tree-picker-input>
        </div>
      </bs-alert>

    </div> 

  </div>

[[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}Archival Unit{{/if}}']]
</semantic-form>      