<semantic-form
  persistence='{"type": "sparql", "targetGraphIri": "https://archipelago.itatti.harvard.edu/resource/builtwork/{{{{raw}}}}{{UUID}}{{{{/raw}}}}/context"}'
  new-subject-template='https://archipelago.itatti.harvard.edu/resource/builtwork/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
  fields='[[ fieldDefinitions
    type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    label="http://www.researchspace.org/pattern/general/rdfs:label"
    builtwork_construction="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction"
    builtwork_destruction="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_destruction"
  ]]'
  [[>rsp:FormDefaults]]
  >

  <div class="form-scroll-area">
    <semantic-form-hidden-input for="type" default-values='["http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object","https://archipelago.itatti.harvard.edu/arconto#Builtwork"]'></semantic-form-hidden-input>

    <bs-tab-container id="some-ide" class="bs-left-vertical-tabs" default-active-key="events">
      <bs-row class="clearfix">

        <!-- Left navbar -->
        <bs-col sm="2">

          <bs-nav bs-style="tabs" stacked="true">
            <bs-nav-item event-key="info">
              General
            </bs-nav-item>

            <bs-nav-item event-key="events">
              Events of the building
            </bs-nav-item>

            <bs-nav-item event-key="related_people">
              Related people
            </bs-nav-item>

            <bs-nav-item event-key="related_events">
              Related Events
            </bs-nav-item>

            <bs-nav-item event-key="related_sources">
              Related Sources
            </bs-nav-item>

          </bs-nav>

        </bs-col>

        <!-- Right content -->
        <bs-col sm="10">
          <bs-tab-content animation="true">

            <bs-alert bs-style="warning">
              <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
            </bs-alert>

            <!-- Information tab -->
            <bs-tab-pane event-key="info">

              <semantic-form-text-input for="label" label="Name"></semantic-form-text-input>

            </bs-tab-pane>

            <!-- Event tab -->
            <bs-tab-pane event-key="events">

              <div data-flex-layout="row center-stretch">
                <div class="grid-demo" style="padding: 5px;">

                  <!-- Construction -->
                  <bs-panel header="Construction">
                    <semantic-form-composite-input
                      for="builtwork_construction"
                      label="Construction"
                      new-subject-template="/production"
                      fields='[[ fieldDefinitions
                        builtwork_construction_actor_role="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor_role"
                        builtwork_has_time-span="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_has_time-span"
                      ]]'
                    >

                      <semantic-form-hidden-input for="type" default-value="crm:E12_Production"></semantic-form-hidden-input>

                      <!-- Date -->
                      <semantic-form-composite-input
                        for="builtwork_has_time-span"
                        new-subject-template="/date"
                        render-header="false"
                        fields='[[ fieldDefinitions 
                          builtwork_date_end_of_the_begin="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_date_end_of_the_begin"
                        ]]'
                      >
                          
                        <semantic-form-datetime-input for='builtwork_date_end_of_the_begin' placeholder="YYYY-MM-DD"></semantic-form-datetime-input>

                      </semantic-form-composite-input>

                      <!-- Actors -->
                      <semantic-form-composite-input
                        for="builtwork_construction_actor_role"
                        new-subject-template="/actor_role/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                        label="Actor"
                        fields='[[ fieldDefinitions
                          builtwork_construction_actor-role_actor="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor-role_actor"
                          builtwork_construction_actor-role_role="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor-role_role"
                        ]]'
                      >
                        <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/crmpc/PC14_carried_out_by"></semantic-form-hidden-input>

                        <!-- Add an existing or create a new one-->
                        <semantic-form-autocomplete-input for='builtwork_construction_actor-role_actor'>
                          <semantic-form 
                            new-subject-template='https://archipelago.itatti.harvard.edu/resource/actor/{{{{raw}}}}{{UUID}}{{{{/raw}}}}' 
                            fields='[[ fieldDefinitions
                              type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                              label="http://www.researchspace.org/pattern/general/rdfs:label"
                            ]]'>
                            <semantic-form-hidden-input for='type' default-value='crm:Actor'></semantic-form-hidden-input>
                            <semantic-form-hidden-input for='type' default-value='arconto:Actor'></semantic-form-hidden-input>
                            <semantic-form-text-input for='label'></semantic-form-text-input>
                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create Actor</button>
                            <button name='reset' class='btn btn-default'>Reset Actor</button>
                          </semantic-form>
                        </semantic-form-autocomplete-input>
                        
                        <!-- Role -->
                        <semantic-form-autocomplete-input label="Actor Role" for='builtwork_construction_actor-role_role'></semantic-form-autocomplete-input>

                      </semantic-form-composite-input>

                    </semantic-form-composite-input>
                  </bs-panel>

                </div>
                <div class="grid-demo" style="padding: 5px;">

                  <!-- Destruction -->
                  <bs-panel header="Destruction">
                    <semantic-form-composite-input
                      for="builtwork_destruction"
                      label="Destruction"
                      new-subject-template="/destruction"
                      fields='[[ fieldDefinitions
                        builtwork_construction_actor_role="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor_role"
                        builtwork_has_time-span="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_has_time-span"
                      ]]'
                    >

                      <semantic-form-hidden-input for="type" default-value="crm:E6_Destruction"></semantic-form-hidden-input>

                      <!-- Date -->
                      <semantic-form-composite-input
                        for="builtwork_has_time-span"
                        new-subject-template="/date"
                        render-header="false"
                        fields='[[ fieldDefinitions 
                          builtwork_date_end_of_the_begin="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_date_end_of_the_begin"
                        ]]'
                      >
                          
                        <semantic-form-datetime-input for='builtwork_date_end_of_the_begin' placeholder="YYYY-MM-DD"></semantic-form-datetime-input>

                      </semantic-form-composite-input>

                      <!-- Actors -->
                      <semantic-form-composite-input
                        for="builtwork_construction_actor_role"
                        new-subject-template="/actor_role/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                        label="Actor"
                        fields='[[ fieldDefinitions
                          builtwork_construction_actor-role_actor="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor-role_actor"
                          builtwork_construction_actor-role_role="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor-role_role"
                        ]]'
                      >
                        <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/crmpc/PC14_carried_out_by"></semantic-form-hidden-input>

                        <!-- Add an existing or create a new one-->
                        <semantic-form-autocomplete-input for='builtwork_construction_actor-role_actor'>
                          <semantic-form 
                            new-subject-template='https://archipelago.itatti.harvard.edu/resource/actor/{{{{raw}}}}{{UUID}}{{{{/raw}}}}' 
                            fields='[[ fieldDefinitions
                              type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                              label="http://www.researchspace.org/pattern/general/rdfs:label"
                            ]]'>
                            <semantic-form-hidden-input for='type' default-value='crm:Actor'></semantic-form-hidden-input>
                            <semantic-form-hidden-input for='type' default-value='arconto:Actor'></semantic-form-hidden-input>
                            <semantic-form-text-input for='label'></semantic-form-text-input>
                            <semantic-form-errors></semantic-form-errors>
                            <button name='submit' class='btn btn-default'>Create Actor</button>
                            <button name='reset' class='btn btn-default'>Reset Actor</button>
                          </semantic-form>
                        </semantic-form-autocomplete-input>
                        
                        <!-- Role -->
                        <semantic-form-autocomplete-input label="Actor Role" for='builtwork_construction_actor-role_role'></semantic-form-autocomplete-input>

                      </semantic-form-composite-input>

                    </semantic-form-composite-input>
                  </bs-panel>

                </div>
              </div>





              <!-- Other Events -->
              <bs-panel header="Other Events">
              </bs-panel>

            </bs-tab-pane>

          </bs-tab-content>
        </bs-col>

      </bs-row>
    </bs-tab-container>


  </div>

  [[> rsp:FormDefaultActions]]
</semantic-form>