<div class="container-fluid">
    <div class="row" style="height:100%;">
        <div id="narrativesSidebar" class="col-sm-3">
        </div>
        <div id="narrativesContent" class="col-sm-7">
            <h1 class="archipelagoTitle" style="margin-bottom: 20px;">Narratives</h1>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-xs-12">
                    <p class="narrativeParagraph">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>

            <div class="row narrativeRow">
                <div class="col-xs-4">
                    <img class="narrativeImage" src="../../assets/images/narratives-food.jpg">
                </div>
                <div class="col-xs-8">
                    <div class="narrativeTitle"><h4>Islands and the City’s Food Supply</h4></div>
                    <div class="narrativeDescription">
                        In a city deprived of any agricultural territory, inhabitants looked to the natural extensions of their environment to ensure their survival. Orderly orchards, vegetable gardens, vineyards, and watermills established within
                        ecclesiastical walls guaranteed the city’s food supply.
                    </div>
                </div>
            </div>
            <div class="row narrativeRow">
                <div class="col-xs-4">
                    <img class="narrativeImage" src="../../assets/images/narrative-health.jpg">
                </div>
                <div class="col-xs-8">
                    <div class="narrativeTitle"><h4>The Lagoon and Public Health</h4></div>
                    <div class="narrativeDescription">
                        The innate condition of insularity and ensuing isolation made the islands the ideal place to house health hospitals and protect the city in the context of epidemic spreads. Two lazarettos (Vecchio 1423 and Nuovo 1468) were
                        committed to quarantine people and goods suspected to be infected by plague respectively. But to cope with outbreaks of plague, other islands were used as overflow sites.
                    </div>
                </div>
            </div>
            <div class="row narrativeRow">
                <div class="col-xs-4">
                    <img class="narrativeImage" src="../../assets/images/narrative-spaces.jpg">
                </div>
                <div class="col-xs-8">
                    <div class="narrativeTitle"><h4>Public and Private Spaces</h4></div>
                    <div class="narrativeDescription">
                        Islands were an integral part of Venice’s urban framework. Examination of buildings’ function reveals a strong
                        presence of State infrastructure within private islands. These commodities served the daily needs of the Venetian community: customs houses, gunpowder storages, guestrooms for sailors, merchants, and passengers.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>