<bs-row>
  <bs-col xs=12>
      <semantic-form new-subject-template='https://veniss.net/resource/builtwork/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
          id='{{viewId}}-vocab-form' post-action="event" subject='{{node}}' fields="[[fieldDefinitions
          type = 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
          label='http://www.w3.org/2000/01/rdf-schema#label'
          building_island = 'https://veniss.net/container/fieldDefinitionContainer/building_island'
          functional-change = 'https://veniss.net/container/fieldDefinitionContainer/building_functional_change'
          physical-changes = 'https://veniss.net/container/fieldDefinitionContainer/building_physical_changes'
          ]]">
          <bs-panel>
              <div class="row">
                  <div class="col-md-12">
                      <bs-tab-container id="some-ide" class="bs-left-vertical-tabs" default-active-key="first">
                          <bs-row class="clearfix">
                            <bs-col sm="2">
                              <bs-nav bs-style="tabs" stacked="true">
                                <bs-nav-item event-key="first">
                                  Identity
                                </bs-nav-item>
                                <bs-nav-item event-key="second">
                                  Functional Changes
                                </bs-nav-item>
                                <bs-nav-item event-key="third">
                                  Physical Changes
                                </bs-nav-item>
                              </bs-nav>
                            </bs-col>
                            <bs-col sm="10">
                              <bs-tab-content animation="true">
                                <bs-tab-pane event-key="first">
                                  <h3>Builtwork Data</h3>
                                  <label style="color: lightsteelblue;">Entity URI: </label>
                                  <p style="color: lightsteelblue;">{{node}}</p>
                                  <!-- Form notifications  -->
                                  <semantic-form-recover-notification></semantic-form-recover-notification>
                                  <semantic-form-errors></semantic-form-errors>
                                  <!-- End form notifications -->
          
                                  <semantic-form-hidden-input for="type"
                                      default-values='["https://veniss.net/ontology#Building"]'>
                                  </semantic-form-hidden-input>
          
          
                                  <semantic-form-select-input for='building_island'>
                                  </semantic-form-select-input>
          
                                  <semantic-form-text-input for="label"></semantic-form-text-input>
                                </bs-tab-pane>
                                <bs-tab-pane event-key="second">
                                  <div class="row">
                                  <div class="col-md-6 inline-composite-2">
                                      <semantic-form-composite-input for="functional-change" render-header="false"
                                          new-subject-template='/functional_change/{{{{raw}}}}{{UUID}}{{{{/raw}}}}' fields='[[fieldDefinitions
                                  functional_change_has_time-span="https://veniss.net/container/fieldDefinitionContainer/functional_change_has_time-span"
                                  functional_change_type="https://veniss.net/container/fieldDefinitionContainer/functional_change_type"
                              ]]'>
                                          <semantic-form-tree-picker-input for="functional_change_type"
                                              label="Functional change type">
                                          </semantic-form-tree-picker-input>
                                          <semantic-form-composite-input for="functional_change_has_time-span"
                                              new-subject-template="/time-span" render-header="false" fields='[[ fieldDefinitions    
                                      bob="https://veniss.net/container/fieldDefinitionContainer/builtwork_date_bob"
                                      eoe="https://veniss.net/container/fieldDefinitionContainer/builtwork_date_eoe"
                                  ]]'>
                                                <semantic-form-datetime-input for="bob" visualization-mode="years" label="Begin"></semantic-form-datetime-input>
                                                <semantic-form-datetime-input for="eoe" end="true" label="End"></semantic-form-datetime-input>
                                            </semantic-form-composite-input>
                                      </semantic-form-composite-input>
                                  </div>
                                  <div class="col-md-6">
                                      {{#if node}}
                                      <semantic-timeline query='PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                                          PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                                          SELECT ?label ?function ?start ?end ?functional_type WHERE {
                                              <{{node}}> a <https://veniss.net/ontology#Building>.
                                              <{{node}}> rdfs:label ?label.
                                              <{{node}}> crm:P16i_was_used_for ?function.
                                            ?function crm:P4_has_time-span ?timespan.
                                            ?timespan crm:P82a_begin_of_the_begin ?start.
                                            ?timespan crm:P82b_end_of_the_end ?end.
                                            ?function crm:P2_has_type ?type_node.
                                            ?type_node rdfs:label ?functional_type.
                                            FILTER(langMatches(lang(?functional_type), "en"))
                                          }
                                        ' tuple-template="{{> template}}" tuple-template-height="42">
                                                    <template id="template">
                                                        <b>{{functional_type.value}}</b>
                                                        <div>{{start.value}} - {{end.value}}</div>
                                                    </template>
                                                  </semantic-timeline>
                                                  {{/if}}
                                      </div>
                              </div>
                          </bs-tab-pane>
                          <bs-tab-pane event-key="third">
                              <h1>Physical Changes</h1>
                              <semantic-form-composite-input for='physical-changes'
                              render-header="false"
                              label="Presences"
                              new-subject-template='/physical_changes/'
                              fields='[[ fieldDefinitions
                              type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                              physical-change-presence="https://veniss.net/container/fieldDefinitionContainer/physical-change-presence"
                            ]]'
                          >
                            <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E92_Spacetime_Volume'></semantic-form-hidden-input> 
                            <semantic-form-composite-input for="physical-change-presence"
                              label="Physical Phase"
                              new-subject-template='/physical_change/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
                              fields="[[ fieldDefinitions
                                presence_type='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
                                physical_change_has_time-span = 'https://veniss.net/container/fieldDefinitionContainer/physical_change_has_time-span'
                                physical_change_2d_representation = 'https://veniss.net/container/fieldDefinitionContainer/physical_change_2d_representation'
                                physical_change_3d_representation = 'https://veniss.net/container/fieldDefinitionContainer/physical_change_3d_representation'
                              ]]"
                              >     
                              <div class="inline-inputs-3">
                                <semantic-form-composite-input for="physical_change_has_time-span"
                                      new-subject-template="/time-span" render-header="false" fields='[[ fieldDefinitions    
                              bob="https://veniss.net/container/fieldDefinitionContainer/builtwork_date_bob"
                              eoe="https://veniss.net/container/fieldDefinitionContainer/builtwork_date_eoe"
                          ]]'>
                                    <div class="inline-inputs-2">
                                      <semantic-form-datetime-input for="bob" label="Begin"></semantic-form-datetime-input>
                                      <semantic-form-datetime-input for="eoe" end="true" label="End"></semantic-form-datetime-input>
                                    </div>
                                  </semantic-form-composite-input>
                                <semantic-form-hidden-input for="presence_type" default-value='http://www.cidoc-crm.org/cidoc-crm/E93_Presence'></semantic-form-hidden-input>
                                <semantic-context repository="ephedra">
                                  <semantic-form-autocomplete-input for="physical_change_2d_representation" label="2D Representation"></semantic-form-autocomplete-input>
                                </semantic-context>
                                <semantic-form-text-input for="physical_change_3d_representation" label="3D Representation"></semantic-form-text-input> 
                              </div>
                            </semantic-form-composite-input>
                              </semantic-form-composite-input>  
                            </semantic-form-composite-input>                            
                          </bs-tab-pane>
                              </bs-tab-content>
                            </bs-col>
                          </bs-row>
                        </bs-tab-container>
                  </div>
                  <div class="col-md-3">

                  </div>
                  <div class="col-md-9">

                  </div>

              </div>

              [[> rsp:FormDefaultActions]]

          </bs-panel>
      </semantic-form>
  </bs-col>
</bs-row>


<style>
  .inline-composite-2 .composite-input {
      display: block !important;
  }

  .inline-composite-2 .composite-input>div {
      display: inline-block;
      width: 49% !important;
      margin-right: 1px;
  }


  .inline-inputs-3 {
      display: block !important;
  }

  .inline-inputs-3 > .semantic-form-input-decorator {
      display: inline-block;
      width: 30% !important;
      margin-right: 1px;
  }

  /* Remove notifications div from inline */ 
  .inline-inputs-3>div:first-child {
    display:block;
  }

  .inline-inputs-2  > .semantic-form-input-decorator {
      display: inline-block;
      width: 40% !important;
      margin-right: 1px;
  }



  .page__content-container {
      overflow-y: auto !important;
  }
</style>