<semantic-form
  id='{{viewId}}-vocab-form' 
  post-action="event"
  subject='{{node}}'
  persistence='{"type": "ldp"}'
  new-subject-template='https://veniss.net/resource/vocabulary/{{{{raw}}}}{{id}}{{{{/raw}}}}'
  fields='[[ fieldDefinitions
    type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    archipelago_type="https://veniss.net/container/fieldDefinitionContainer/archipelago_type"
    id="https://veniss.net/container/fieldDefinitionContainer/archipelago_label_single"
    is_listed_in="http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"
    broader="https://veniss.net/container/fieldDefinitionContainer/vocabulary_broader_term"
    equivalent_class="https://veniss.net/container/fieldDefinitionContainer/owl_equivalent_class"
  ]]'
>
<semantic-form-errors></semantic-form-errors>
<div class="form-scroll-area">
  <semantic-form-hidden-input for="type" default-value='http://www.w3.org/2004/02/skos/core#Concept'></semantic-form-hidden-input>
  <semantic-form-hidden-input for="is_listed_in" default-value="http://www.researchspace.org/resource/vocab/actor_types"></semantic-form-hidden-input>

  <!-- Source name-->
  <semantic-form-text-input languages='["it", "en"]' label="Label" for="id"></semantic-form-text-input>

  <!-- Equivalent Class -->
  <semantic-form-text-input label="Getty ID" for="equivalent_class"></semantic-form-text-input>

</div>

[[> http://veniss.net/forms/Buttons]]
</semantic-form>