<bs-row>
    <bs-col xs=12>
        <bs-panel>
        <semantic-form new-subject-template='https://veniss.net/resource/builtwork/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
            id='{{viewId}}-vocab-form' post-action="event" subject='{{node}}' fields="[[fieldDefinitions
            type = 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type'
            full_name = 'https://veniss.net/container/fieldDefinitionContainer/builtwork_island_full_name'
            island_label = 'https://veniss.net/container/fieldDefinitionContainer/builtwork_island_label'
            island_geonames='https://veniss.net/container/fieldDefinitionContainer/geonames_island'
            island_latitude='https://veniss.net/container/fieldDefinitionContainer/latitude_island'
            island_longitude='https://veniss.net/container/fieldDefinitionContainer/longitude_island'
            ]]">
                <div class="row">

                    <div class="col-md-6">
                        <h3>Builtwork Data</h3>
                        <label style="color: lightsteelblue;">Entity URI: </label>
                        <p style="color: lightsteelblue;">{{node}}</p>
                        <!-- Form notifications  -->
                        <semantic-form-recover-notification></semantic-form-recover-notification>
                        <semantic-form-errors></semantic-form-errors>
                        <!-- End form notifications -->

                        <semantic-form-hidden-input for="type" default-values='["https://veniss.net/ontology#Island","http://www.cidoc-crm.org/P53_Place"]'>
                        </semantic-form-hidden-input>
                        <semantic-form-text-input for="full_name" placeholder="Enter island's full name here...">
                        </semantic-form-text-input>
                        <div class="row">
                            <div class="col-md-6">
                                <semantic-form-text-input for="island_latitude"
                                    placeholder="Enter island's latitude...">
                                </semantic-form-text-input>
                            </div>
                            <div class="col-md-6">
                                <semantic-form-text-input for="island_longitude"
                                    placeholder="Enter island's longitude...">
                                </semantic-form-text-input>
                            </div>
                        </div>

                        <semantic-form-text-input for="island_label"
                            placeholder="Enter island's label (only lowercase letters)"></semantic-form-text-input>
                            <semantic-form-text-input for="island_geonames"></semantic-form-text-input>
                        
                            <!-- <semantic-context repository='sari-rds'>
                            <semantic-form-autocomplete-input for="island_geonames" label="Geonames Identifier"
                                placeholder="Search for a geonames ID..."></semantic-form-autocomplete-input>
                        </semantic-context> -->

                        {{#if node}}
                        <semantic-query query='SELECT ?item ?label {
                            <{{node}}> rdfs:label ?label.
                            } LIMIT 1' template='{{> phases}}'>
                            <template id='phases'>
        
                                {{#each bindings}}
                                <p></p>

                                <div style='height: 20vw;'>
                                    <h3>Phases</h3>
                                    <semantic-context repository="ephedra">
                                        <semantic-map
                                        id='phasesMap'
                                        fix-zoom-level="12"
                                        year-filtering="true"
                                        target-controls='["phases-map-control"]'
                                        map-options='{"crs":"EPSG:4326"}'
                                            query='
                                    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
                                    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                                    PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                                    SELECT DISTINCT ?wkt ?bw_id ?bob ?eoe WHERE {
                                      SERVICE <http://www.researchspace.org/resource/system/repository/federation#geosql> {
                                        ?root rs_sql_sail:hasQueryId "{{label.value}}_island_shapes";
                                        veniss_sql:wkt ?wkt;
                                        veniss_sql:bw_id ?bw_id;
                                        veniss_sql:bob ?bob;
                                        veniss_sql:eoe ?eoe;
                                      }
                                    }'>
                                        </semantic-map>
                                    </semantic-context>
                                    <semantic-map-controls
                                    id="phases-map-control"
                                    target-map-id="phasesMap"
                                    features-options-enabled="false"
                                    filters-initialization='{"basemap":true,"overlay":false,"feature":true}'
                                    show-filters="false"
                                    timeline='{
                                        "min":1500,
                                        "max":2023,
                                        "mode":"marked",
                                        "default":2023
                                      }'
                                      >
                                    </semantic-map-controls>
                                </div>
                                {{/each}}
                            </template>
                        </semantic-query>
                        {{/if}}
                    </div>
                    <div class="col-md-6">
                        <h3>Island Location</h3>
                        {{#if node}}
                        <semantic-query query='
                            SELECT ?item ?label ?longitude_label ?latitude_label ?geonames_label ?node {
                            ?node a <https://veniss.net/ontology#Island>.
                            ?node rdfs:label ?label.

                            OPTIONAL {
                                ?node crm:P87_is_identified_by ?latitude.
                                ?latitude crm:P2_has_type <https://veniss.net/ontology#latitude>.
                                ?latitude rdfs:label ?latitude_label. 
                                ?node crm:P87_is_identified_by ?longitude.
                                ?longitude crm:P2_has_type <https://veniss.net/ontology#longitude>.
                                ?longitude rdfs:label ?longitude_label. 
                              }
                              OPTIONAL {
                                ?node crm:P48_has_preferred_identifier ?geonames_identifier.
                                ?geonames_identifier rdfs:label ?geonames_label.
                              }

                            BIND(<{{node}}> as ?node).
                        }' template='{{> island_location_template}}'>
                            <template id='island_location_template'>
                                {{#each bindings}}
                                <p></p>
                                <div style="height:400px; width: 100%;">
                                    <semantic-map-classic id='location_map' fix-zoom-level="13" query='SELECT ?lat ?lng ?description ?link ?node WHERE {
                                        VALUES(?lat ?lng ?description ?link) {
                                        ("{{latitude_label.value}}" "{{longitude_label.value}}" "{{node.value}}" <http://www.wikidata.org/entity/Q22132500>)
                                  }
                                }'>
                                    </semantic-map-classic>
                                </div>
                                {{/each}}
                            </template>
                        </semantic-query>
                        {{/if}}
                    </div>
                </div>


                <!-- <div style='height: 35vw;'>
                </div>
                  <h3>BIM Model</h3>
                    <div style="height:500px; border: 1px solid grey; border-radius: 2px;">
                        <bim-viewer ifcurl='/assets/ed_2.ifc'>
                    </bim-viewer>
                    </div> -->

        </semantic-form>
        [[> rsp:FormDefaultActions]]
    </bs-panel>
    </bs-col>
</bs-row>

<style>
    .inline-composite .composite-input {
        display: block !important;
    }

    .inline-composite .composite-input>div {
        display: inline-block;
        width: 49% !important;
        margin-right: 1px;
    }

    .page__content-container {
        overflow-y: auto !important;
    }

    .timeSliderContainer {
        width: 100%;
        height: 100px;
        display:block;
        position: relative;
    }

    .yearLabel {
        display: none;
    }

</style>