<div class="page">

    <div data-flex-layout="columns center-stretch">
      <div class="Header">
        <h1>Sources</h1>
      </div>


      <div class="subheader">

        <!-- Primary -->
        <button class="btn btn-primary">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Source2"
            urlqueryparam-mode="new"
          >
            + Primary Source
          </semantic-link>
        </button>

        <!-- Secondary -->
        <button class="btn btn-success" style="margin-left: 5px">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Bibliographic_Item"
            urlqueryparam-mode="new"
          >
            + Secondary Source
          </semantic-link>
        </button>

      </div>

      <hr>

      <div class="body">
        <semantic-search
          search-profile='{
            "categories":[
              {
                "iri": "<https://veniss.net/ontology#Source>",
                "label": "Source"
              },
              {
                "iri": "<https://veniss.net/ontology#Island>",
                "label": "Island"
              }
            ],
            "relations":[
              {
                "iri": "<https://veniss.net/ontology#has_island>",
                "label": "Related Island",
                "hasDomain": "<https://veniss.net/ontology#Source>",
                "hasRange": "<https://veniss.net/ontology#Island>"
              }
            ]
          }'
        >
          <semantic-search-query-constant 
          domain="<https://veniss.net/ontology#Source>"
          query='
            select ?subject ?digital_image where { 
              ?subject a veniss_ontology:Source;
            }
          '>
          </semantic-search-query-constant>

          <div data-flex-layout="row stretch-stretch">

            <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
              <semantic-search-facet open-by-default="true"></semantic-search-facet>
            </div>

            <semantic-search-result-holder>
              <div data-flex-self="md-full">

                <!-- Count -->
                <semantic-search-result>
                  <mp-sparql-result-counts 
                    id='query-count'
                    query="SELECT DISTINCT * {}"
                    template='{{>count}}'>
                      <template id="count">
                        {{#if hasLimit}} 
                          <bs-alert bs-style="warning">
                            Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. 
                            <strong>Please, refine your search.</strong> 
                          </bs-alert>
                        {{else}}
                            <p>Found <strong>{{numberOfResults}}</strong> Sources.</p>
                        {{/if}}
                      </template>
                  </mp-sparql-result-counts>
                </semantic-search-result>

                <bs-tabs>
                  <!-- Primary Sources -->
                  <bs-tab event-key="1" title="Primary Sources">
                    <semantic-search-result>
                      <semantic-table 
                        id='table-result'
                        query='SELECT DISTINCT * WHERE { 
                          
                          ?subject a veniss_ontology:Source_Primary.

                          optional {
                            ?subject crm:P53_has_former_or_current_location ?location.
                            ?location crm:P2_has_type <https://veniss.net/resource/vocab/information_carrier/location> 
                          }

                          optional {
                            ?subject crm:P1_is_identified_by ?appellation.
                            ?appellation rdf:type crm:E41_Appellation;
                            crm:P2_has_type <https://veniss.net/resource/type/attributed_title>;
                            rdfs:label ?label.
                            FILTER((LANG(?label)) = "en")
                          }

                          optional {
                            ?subject veniss_ontology:has_island ?island.
                            ?island crm:P1_is_identified_by ?island_appellation.
                              ?island_appellation rdfs:label ?island_lbl
                          }
                          
                        }'
                        column-configuration='[
                          {
                            "displayName": "Image",
                            "cellTemplate": "{{> visual_representation}}"
                          },
                          {
                            "displayName": "Name",
                            "cellTemplate": "{{> name}}"
                          },
                          {
                            "displayName": "Island",
                            "variableName": "island_lbl"
                          },
                          {
                            "displayName": "Archival Location",
                            "cellTemplate": "{{> location}}"
                          }
                        ]'
                      >

                        <template id="visual_representation">

                          <semantic-context storage="images">

                            <mp-resource-thumbnail style="height: 100px" iri='{{subject.value}}' class='detail-img'>
                                <mp-resource-thumbnail-fallback>
                                    <with-types iri='{{subject.value}}'
                                            template='{{> noImage}}'
                                            [[> rsp:TypeMappings]]
                                        >
                                        <template id="noImage">
                                            <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                                        </template>
                                    </with-types>
                                </mp-resource-thumbnail-fallback>
                            </mp-resource-thumbnail>

                          </semantic-context>
                          
                        </template>

                        <template id="name">
                          
                          <mp-event-trigger 
                            id='{{subject.value}}-add-frame' 
                            type='Dashboard.AddFrame' 
                            data='{
                              "resourceIri": "{{subject.value}}", 
                              "viewId": "entity-editor"
                            }' 
                            targets='["thinking-frames"]'>
                            <div style="display: flex; align-items: center;">
                              <a href="">{{label.value}}</a>
                            </div>
                          </mp-event-trigger>  

                        </template>

                        <template id="location">
                          <div style="display: flex; align-items: center;">

                            {{#if location}}
                            <semantic-query
                              query='
                                select ?full_path where {

                                  {
                                    select (group_concat(distinct ?lbl; separator=", ") as ?item_label) where {
                                      {
                                        select ?class ?lbl
                                        where {
                                          ?item crm:P46i_forms_part_of* ?mid.
                                          ?mid crm:P46i_forms_part_of* ?class.
                                          ?class rdfs:label ?class_label

                                          optional {
                                            ?class crm:P1_is_identified_by ?acronym.
                                            ?acronym a crm:E41_Appellation;
                                              crm:P2_has_type <https://veniss.net/resource/type/acronym>;
                                              rdfs:label ?acronym_lbl 
                                          }

                                          BIND(COALESCE(?acronym_lbl, ?acronym_lbl, ?class_label) as ?lbl)
                                          BIND(<{{location.value}}> as ?item)
                                        }
                                        group by ?class ?lbl
                                        order by desc(count(?mid))
                                      }
                                    }
                                  }

                                  OPTIONAL {
                                    ?subject crm:P53_has_former_or_current_location ?information_carrier_type.
                                    ?information_carrier_type crm:P2_has_type <https://veniss.net/resource/vocab/information_carrier/type>;
                                      crm:P1_is_identified_by ?abbreviation.

                                    ?abbreviation crm:P2_has_type <https://veniss.net/resource/type/abbreviation>;
                                      rdfs:label ?type_label
                                  }
                                  BIND(COALESCE(CONCAT(", ", ?type_label, " "), " ") as ?information_carrier_type_label)
                                  
                                  OPTIONAL {
                                    ?subject crm:P53_has_former_or_current_location ?information_carrier_name.
                                    ?information_carrier_name crm:P2_has_type <https://veniss.net/resource/vocab/information_carrier/name>;
                                      rdfs:label ?name_label
                                  }
                                  BIND(COALESCE(?name_label, "") as ?information_carrier_name_label)
                                  
                                  BIND(CONCAT(?item_label, ?information_carrier_type_label, ?information_carrier_name_label) AS ?full_path)
                                  BIND(<{{subject.value}}> as ?subject)
                                }'
                            ></semantic-query>
                            {{/if}}
                          </div>
                        </template>

                      </semantic-table>
                    </semantic-search-result> 
                  </bs-tab>

                  <!-- Secondary Sources -->
                  <bs-tab event-key="2" title="Secondary Sources">
                    <semantic-search-result>
                      <semantic-table 
                        id='table-result'
                        query='SELECT DISTINCT ?subject ?label WHERE { 
                          ?subject a veniss_ontology:Source_Secondary.

                          optional {
                            ?subject frbroo:R24i_was_created_through ?publication_event.
                            optional {
                              ?publication_event crm:P01i_is_domain_of ?carried_out_by_curator.
                              ?carried_out_by_curator crm:P14.1_in_the_role_of <http://veniss.net/resource/type/curator>.
                              ?carried_out_by_curator crm:P02_has_range ?curator.
                              ?curator rdfs:label ?curator_label
                              bind(concat(", a cura di ", ?curator_label) as ?curator_label_final)
                            }
                            optional {
                              ?publication_event crm:P01i_is_domain_of ?carried_out_by_publisher.
                              ?carried_out_by_publisher crm:P14.1_in_the_role_of <http://veniss.net/resource/type/publisher>.
                              ?carried_out_by_publisher crm:P02_has_range ?publisher.
                              ?publisher rdfs:label ?publisher_label
                              bind(concat(", ", ?publisher_label) as ?publisher_final)
                            }
                            optional {
                              ?publication_event crm:P4_has_time-span ?timespan.
                              ?timespan crm:P82a_begin_of_the_begin ?year
                              bind(concat(", ", ?year) as ?year_final)
                            }
                            optional {
                              ?publication_event crm:P7_took_place_at ?place.
                              ?place rdfs:label ?place_label
                              bind(concat(", ", ?place_label) as ?place_final)
                            }
                          }

                          optional {
                            ?subject crm:P129i_is_subject_of ?linguistic_object.
                            ?linguistic_object crm:P94i_was_created_by ?creation.
                            ?creation crm:P14_carried_out_by ?actor.
                            ?actor rdfs:label ?author_final.
                          }

                          optional {
                            ?subject crm:P1_is_identified_by ?bibitem_identifier.
                            ?bibitem_identifier crm:P2_has_type <https://veniss.net/resource/type/title>;
                                rdfs:label ?title
                            bind(concat(", ", ?title) as ?title_final)
                          }

                          optional {
                            ?subject veniss_ontology:has_broader ?broader.
                            ?broader crm:P1_is_identified_by ?broader_title.
                            ?broader_title 	crm:P2_has_type <https://veniss.net/resource/type/title>;
                            rdfs:label ?broader_title_label
                            bind(concat(", ", ?broader_title_label) as ?broader_title_final)
                          }

                          bind(coalesce(?curator_label_final, "") as ?curator_lbl)
                          bind(coalesce(?author_final, "") as ?author_lbl)
                          bind(coalesce(?title_final, "") as ?title_lbl)
                          bind(coalesce(?place_final, "") as ?place_lbl)
                          bind(coalesce(?publisher_final, "") as ?publisher_lbl)
                          bind(coalesce(?year_final, "") as ?year_lbl)
                          bind(coalesce(?broader_title_final, "") as ?broader_title_lbl)

                          bind(concat(?author_lbl, ?title_lbl, ?broader_title_lbl, ?curator_lbl, ?place_lbl, ?publisher_lbl, ?year_lbl) as ?label)
                          
                        }'
                        column-configuration='[
                          {
                            "displayName": "Image",
                            "cellTemplate": "{{> visual_representation}}"
                          },
                          {
                            "displayName": "Name",
                            "cellTemplate": "{{> name}}"
                          }
                        ]'
                      >

                        <template id="visual_representation">

                          <semantic-context storage="veniss_s3">

                            <mp-resource-thumbnail style="height: 100px" iri='{{subject.value}}' class='detail-img'>
                                <mp-resource-thumbnail-fallback>
                                    <with-types iri='{{subject.value}}'
                                            template='{{> noImage}}'
                                            [[> rsp:TypeMappings]]
                                        >
                                        <template id="noImage">
                                            <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                                        </template>
                                    </with-types>
                                </mp-resource-thumbnail-fallback>
                            </mp-resource-thumbnail>

                          </semantic-context>
                          
                        </template>

                        <template id="name">
                          
                          <mp-event-trigger 
                            id='{{subject.value}}-add-frame' 
                            type='Dashboard.AddFrame' 
                            data='{
                              "resourceIri": "{{subject.value}}", 
                              "viewId": "entity-editor"
                            }' 
                            targets='["thinking-frames"]'>
                            <div style="display: flex; align-items: center;">
                              <a href="">{{label.value}}</a>
                            </div>
                          </mp-event-trigger>  

                        </template>

                      </semantic-table>
                    </semantic-search-result>
                  </bs-tab>
                </bs-tabs>

              </div>
          </semantic-search-result-holder>
        </div>
        </semantic-search>
      </div>
    </div>

</div>

<style>
  .page{
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-container {
    margin-top: 10px;
  }

  .btn a{
    color: #fff!important;
  }
</style>