<div id="source_list" class="page">

    <div data-flex-layout="columns center-stretch">
      <div class="Header">
        <h1>Sources</h1>
      </div>


      <div class="subheader">

        <!-- Primary -->
        <button class="btn btn-primary">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Source2"
            urlqueryparam-mode="new"
          >
            + Primary Source
          </semantic-link>
        </button>

        <!-- Secondary -->
        <button class="btn btn-success" style="margin-left: 5px">
          <semantic-link 
            iri="http://www.researchspace.org/resource/ThinkingFrames"
            urlqueryparam-view="entity-editor"
            urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Bibliographic_Item"
            urlqueryparam-mode="new"
          >
            + Secondary Source
          </semantic-link>
        </button>

      </div>

      <hr>

      <div>
        <semantic-search
          relations='{
            "<https://veniss.net/ontology#has_actor>": [{
              "kind": "resource",
              "queryPattern": "{
                $subject crm:P108i_was_produced_by ?production.
                ?actor_role crmpc:P14.1_in_the_role_of <https://veniss.net/resource/vocab/actor_types/author>.
                ?actor_role crmpc:P01_has_domain ?production;
                  crmpc:P02_has_range ?__value__.
              }"
            }],
            "<https://veniss.net/ontology#has_user>" : [{
              "kind": "resource",
              "queryPattern": "{
                ?subject a veniss_ontology:Source.
                ?container <http://www.w3.org/ns/prov#wasAttributedTo> ?__value__.
  
                BIND(URI(CONCAT(STR(?subject), \"/container\")) as ?container)
              }"
            }]
          }'
          search-profile='{
            "categories":[
              {
                "iri": "<https://veniss.net/ontology#Source>",
                "label": "Source"
              },
              {
                "iri": "<https://veniss.net/ontology#Island>",
                "label": "Island"
              },
              {
                "iri": "<https://veniss.net/ontology#Actor>",
                "label": "Actor"
              },
              {
                "iri": "<http://www.researchspace.org/resource/User>",
                "label": "User"
              }
            ],
            "relations":[
              {
                "iri": "<https://veniss.net/ontology#has_island>",
                "label": "Islands",
                "hasDomain": "<https://veniss.net/ontology#Source>",
                "hasRange": "<https://veniss.net/ontology#Island>"
              },
              {
                "iri": "<https://veniss.net/ontology#has_actor>",
                "label": "Authors",
                "hasDomain": "<https://veniss.net/ontology#Source>",
                "hasRange": "<https://veniss.net/ontology#Actor>"
              },
              {
                "iri": "<https://veniss.net/ontology#has_user>",
                "label": "Curator",
                "hasDomain": "<https://veniss.net/ontology#Source>",
                "hasRange": "<http://www.researchspace.org/resource/User>"
              }
            ]
          }'
        >
          <semantic-search-query-constant 
          domain="<https://veniss.net/ontology#Source>"
          query='
            select ?subject ?digital_image where { 
              ?subject a veniss_ontology:Source;
            }
          '>
          </semantic-search-query-constant>

          <div data-flex-layout="row stretch-stretch">

            <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
              <semantic-search-facet open-by-default="true"></semantic-search-facet>
            </div>

            <semantic-search-result-holder>
              <div data-flex-self="md-full">

                <!-- Count -->
                <semantic-search-result>
                  <mp-sparql-result-counts 
                    id='query-count'
                    query="SELECT DISTINCT * {}"
                    template='{{>count}}'>
                      <template id="count">
                        {{#if hasLimit}} 
                          <bs-alert bs-style="warning">
                            Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. 
                            <strong>Please, refine your search.</strong> 
                          </bs-alert>
                        {{else}}
                            <p>Found <strong>{{numberOfResults}}</strong> Sources.</p>
                        {{/if}}
                      </template>
                  </mp-sparql-result-counts>
                </semantic-search-result>

                <bs-tabs>
                  <!-- Primary Sources -->
                  <bs-tab event-key="1" title="Primary Sources">
                    <semantic-search-result>
                      <semantic-table 
                        id='table-result'
                        query='
                        SELECT ?subject ?filename ?label (GROUP_CONCAT(DISTINCT ?island_lbl; SEPARATOR=" ;") as ?islands) (GROUP_CONCAT(DISTINCT ?author_lbl; SEPARATOR=" ;") as ?authors) ?year_lbl ?location WHERE {
  
                          ?subject A veniss_ontology:Source_Primary;
                                  rdfs:label ?label.

                          OPTIONAL {
                            ?subject rso:PX_has_main_representation ?representation.
                            ?representation a rso:EX_Digital_Image;
  	                          crm:P1_is_identified_by ?image.
                            ?image <http://www.researchspace.org/ontology/PX_has_file_name> ?filename
                          }
                          
                          OPTIONAL {
                            ?subject veniss_ontology:has_island ?island.
                            ?island crm:P1_is_identified_by ?island_id.
                            ?island_id rdfs:label ?island_lbl
                          }
                        
                          OPTIONAL {
                            ?subject crm:P108i_was_produced_by ?production.
                            ?actor_role crmpc:P14.1_in_the_role_of <https://veniss.net/resource/vocab/actor_types/author>.
                            ?actor_role crmpc:P01_has_domain ?production;
                                        crmpc:P02_has_range ?author.
                            ?author rdfs:label ?author_lbl
                          }
                        
                          OPTIONAL {
                            ?subject crm:P108i_was_produced_by ?production2.
                            ?production2 a crm:E12_Production;
                                        crm:P4_has_time-span ?timespan.
                            ?timespan a crm:E4_Time-span;
                                      crm:P170i_time_is_defined_by ?year_time_primitive.
                            ?year_time_primitive a crm:E61_Time-Primitive;
                                                crm:P2_has_type <https://veniss.net/resource/type/time_primitive_year>;
                                                rdfs:label ?year_lbl
                          }
                        
                          OPTIONAL {
                            ?subject crm:P198i_is_held_or_supported_by ?location.
                            ?location crm:P2_has_type <https://veniss.net/resource/vocab/information_carrier/location> 
                          }
                        } 
                        GROUP BY ?subject ?filename ?label ?year_lbl ?location
                        ORDER BY ASC(?year_lbl)
                        '

                        tuple-template="{{> table-row}}"
                      >

                        <template id="table-row">

                          <bs-row class="show-one">
                            <bs-col sm="1" md="1">
                            </bs-col>
                            <bs-col sm="4" md="4">
                              <strong>Name</strong>
                            </bs-col>
                            <bs-col sm="2" md="2">
                              <strong>Island</strong>
                            </bs-col>
                            <bs-col sm="1" md="1">
                              <strong>Date</strong>
                            </bs-col>
                            <bs-col sm="4" md="4">
                              <strong>Location</strong>
                            </bs-col>
                          </bs-row>

                          <mp-draggable iri='{{subject.value}}'>
                            <div class="rs-draggable-container">
                              <mp-event-trigger 
                                id='{{subject.value}}-add-frame' 
                                type='Dashboard.AddFrame' 
                                data='{
                                  "resourceIri": "{{subject.value}}", 
                                  "viewId": "entity-editor"
                                }' 
                                targets='["thinking-frames"]'>
                                <bs-row class="clickable-row">
                                  <bs-col sm="1" md="1">
                                    {{>visual_representation}}
                                  </bs-col>
                                  <bs-col sm="4" md="4">
                                    {{>name}}
                                  </bs-col>
                                  <bs-col sm="2" md="2">
                                    {{>island}}
                                  </bs-col>
                                  <bs-col sm="1" md="1">
                                    {{>date}}
                                  </bs-col>
                                  <bs-col sm="4" md="4"> 
                                    {{>location}}
                                  </bs-col>
                                </bs-row>
                              </mp-event-trigger>
                            </div>
                          </mp-draggable>

                        </template>

                        <template id="visual_representation">

                          <semantic-context storage="images">
                            {{#if filename}}
                              <img src="https://veniss.net/proxy/IIIF/{{filename.value}}/full/!400,400/0/default.jpg" alt="{{subject.value}}" class='detail-img'>
                            {{else}}
                              <img src="../../assets/images/placeholderx80.png" alt="placeholder" class='detail-img'>
                            {{/if}}
                            
                          </semantic-context>
                          
                        </template>

                        <template id="name">
                          <h3 class="align-text">{{label.value}}</h3>
                          <p><em>{{authors.value}}</em></p>
                          
                        </template>

                        <template id="island">
                          <p>{{islands.value}}</p>
                        </template>

                        <template id="date">
                          {{#if year_lbl}}
                            <p>
                              {{year_lbl.value}}
                            </p>
                          {{/if}}
                        </template>

                        <template id="location">
                          <div style="display: flex; align-items: center;">

                            {{#if location}}
                              <p>
                                <semantic-query
                                  query='
                                    select ?full_path where {

                                      BIND(<{{subject.value}}> as ?subject)

                                      {
                                        select (group_concat(distinct ?lbl; separator=", ") as ?item_label) where {
                                          {
                                            select ?class ?lbl
                                            where {
                                              ?item crm:P46i_forms_part_of* ?mid.
                                              ?mid crm:P46i_forms_part_of* ?class.
                                              ?class rdfs:label ?class_label

                                              optional {
                                                ?class crm:P1_is_identified_by ?acronym.
                                                ?acronym a crm:E41_Appellation;
                                                  crm:P2_has_type <https://veniss.net/resource/type/acronym>;
                                                  rdfs:label ?acronym_lbl 
                                              }

                                              BIND(COALESCE(?acronym_lbl, ?acronym_lbl, ?class_label) as ?lbl)
                                              BIND(<{{location.value}}> as ?item)
                                            }
                                            group by ?class ?lbl
                                            order by desc(count(?mid))
                                          }
                                        }
                                      }

                                      OPTIONAL {
                                        ?subject crm:P53_has_former_or_current_location ?information_carrier_type.
                                        ?information_carrier_type crm:P2_has_type <https://veniss.net/resource/vocab/information_carrier/type>;
                                          crm:P1_is_identified_by ?abbreviation.

                                        ?abbreviation crm:P2_has_type <https://veniss.net/resource/type/abbreviation>;
                                          rdfs:label ?type_label
                                      }
                                      BIND(COALESCE(CONCAT(", ", ?type_label, " "), " ") as ?information_carrier_type_label)
                                      
                                      OPTIONAL {
                                        ?subject crm:P53_has_former_or_current_location ?information_carrier_name.
                                        ?information_carrier_name crm:P2_has_type <https://veniss.net/resource/vocab/information_carrier/name>;
                                          rdfs:label ?name_label
                                      }
                                      BIND(COALESCE(?name_label, "") as ?information_carrier_name_label)
                                      
                                      BIND(CONCAT(?item_label, ?information_carrier_type_label, ?information_carrier_name_label) AS ?full_path)

                                    }'
                                ></semantic-query>
                              </p>
                            {{/if}}
                          </div>
                        </template>

                      </semantic-table>
                    </semantic-search-result> 
                  </bs-tab>

                  <!-- Secondary Sources -->
                  <bs-tab event-key="2" title="Secondary Sources">
                    <semantic-search-result>
                      <semantic-table 
                        id='table-result'
                        query='SELECT DISTINCT ?subject ?typology ?authors ?title ?place_lbl ?publisher_lbl ?date_lbl ?essay_title_lbl ?volume_lbl ?pages_lbl WHERE { 
                          ?subject a veniss_ontology:Source_Secondary;
                            crm:P129i_is_subject_of ?linguistic_object;
                            crm:P1_is_identified_by ?bibitem_identifier;
                            veniss_ontology:has_broader ?broader.

                          ?broader veniss_ontology:has_broader_typology ?typology.

                          ?bibitem_identifier a crm:E41_Appellation;
                            crm:P2_has_type <https://veniss.net/resource/type/title>;
                            rdfs:label ?title.
  
                          ?linguistic_object a crm:E33_Linguistic_Object;
                            crm:P94i_was_created_by ?creation.
                          
                          ?creation a crm:E65_Creation;
                            crm:P14_carried_out_by ?actor.
                          
                          ?actor a crm:E39_Actor;
                            rdfs:label ?authors

                          OPTIONAL {
                            ?subject frbroo:R24i_was_created_through ?publication_event.
                              ?publication_event a frbroo:F30_Publication_Event;
                              crm:P01i_is_domain_of ?carried_out_by.
                            ?carried_out_by a crm:PC14_carried_out_by;
                              crm:P14.1_in_the_role_of <http://veniss.net/resource/type/publisher>;
                              crm:P02_has_range ?publisher.
                            ?publisher a crm:E39_Actor;
                              rdfs:label ?publisher_lbl
                          }

                          OPTIONAL {
                            ?subject frbroo:R24i_was_created_through ?publication_event_1.
                            
                            ?publication_event_1 a frbroo:F30_Publication_Event;
                              crm:P4_has_time-span ?timespan.
                              ?timespan a crm:E52_Time-Span;
                              crm:P82a_begin_of_the_begin ?date_lbl
                          }

                          OPTIONAL {
                            ?subject frbroo:R24i_was_created_through ?publication_event_2.
                            ?publication_event_2 a frbroo:F30_Publication_Event;
                              crm:P7_took_place_at ?place.
                            ?place a crm:E53_Place;
                              rdfs:label ?place_lbl
                          }

                          OPTIONAL {
                            ?broader crm:P1_is_identified_by ?essay_title.
                            ?essay_title a crm:E41_Appellation;
                              crm:P2_has_type <https://veniss.net/resource/type/title>;
                              rdfs:label ?essay_title_lbl
                          }

                          OPTIONAL {
                            ?broader crm:P1_is_identified_by ?volume.
                            ?volume a crm:E41_Appellation;
                              crm:P2_has_type <https://veniss.net/resource/type/volume>;
  	                          rdfs:label ?volume_lbl
                          }

                          OPTIONAL {
                            ?broader crm:P1_is_identified_by ?pages.
                            ?pages a crm:E41_Appellation;
                              crm:P2_has_type <https://veniss.net/resource/type/pages>;
  	                          rdfs:label ?pages_lbl
                          }


                        }'
                        tuple-template="{{> table-row}}"
                      >
                        <template id="table-row">
                          <mp-draggable iri='{{subject.value}}'>
                            <div class="rs-draggable-container">
                              <mp-event-trigger 
                                id='{{subject.value}}-add-frame' 
                                type='Dashboard.AddFrame' 
                                data='{
                                  "resourceIri": "{{subject.value}}", 
                                  "viewId": "entity-editor"
                                }' 
                                targets='["thinking-frames"]'>
                                <bs-row class="clickable-row">

                                  <bs-col sm="1" lg="1">
                                    {{>typology}}
                                  </bs-col>
                                  <bs-col sm="11" lg="11">
                                    {{>name}}
                                  </bs-col>
                                </bs-row>
                              </mp-event-trigger>
                            </div>
                          </mp-draggable>
                        </template>

                        <template id="typology">

                          {{#ifCond typology.value "==" "https://veniss.net/resource/type/book"}}
                            <p>BOOK</p>
                          {{/ifCond}}

                          {{#ifCond typology.value "==" "https://veniss.net/resource/type/essay"}}
                            <p>ESSAY</p>
                          {{/ifCond}}

                          {{#ifCond typology.value "==" "https://veniss.net/resource/type/Journal"}}
                            <p>JOURNAL</p>
                          {{/ifCond}}

                          {{#ifCond typology.value "==" "https://veniss.net/resource/type/catalogue"}}
                            <p>CATALOGUE</p>
                          {{/ifCond}}

                        </template>
                        

                        <template id="name">

                          <semantic-switch query='
                            SELECT ?typology WHERE {
                              <{{subject.value}}> veniss_ontology:has_broader ?broader.
                              ?broader veniss_ontology:has_broader_typology ?typology.
                          }'
                          cases='{
                            "https://veniss.net/resource/type/book": "{{>book}}",
                            "https://veniss.net/resource/type/essay": "{{>essay}}",
                            "https://veniss.net/resource/type/Journal": "{{>journal}}",
                            "https://veniss.net/resource/type/catalogue": "{{>catalogue}}",
                            "default": "{{>default}}"
                          }'>

                            <template id="book">
                              <p>
                                {{authors.value}}, <strong><em>{{title.value}}</em></strong>
                                {{#if place_lbl}}<span>, {{place_lbl.value}}</span>{{/if}}
                                {{#if publisher_lbl}}<span>, {{publisher_lbl.value}}</span>{{/if}}
                                {{#if date_lbl}}<span>, {{date_lbl.value}}</span>{{/if}}
                              </p>
                            </template>

                            <template id="essay">
                              <p>
                                {{authors.value}}, <strong><em>{{title.value}}</em></strong>, in <strong><em>{{essay_title_lbl.value}}</em></strong>
                                {{#if place_lbl}}<span>, {{place_lbl.value}}</span>{{/if}}
                                {{#if publisher_lbl}}<span>, {{publisher_lbl.value}}</span>{{/if}}
                                {{#if date_lbl}}<span>, {{date_lbl.value}}</span>{{/if}}
                                {{#if pages_lbl}}<span>, {{pages_lbl.value}}</span>{{/if}}
                              </p>
                            </template>


                            <template id="journal">
                              <p>
                                {{authors.value}}, <strong><em>{{title.value}}</em></strong>, in «{{essay_title_lbl.value}}»
                                {{#if volume_lbl}}<span>, {{volume_lbl.value}}</span>{{/if}}
                                {{#if date_lbl}}<span> ({{date_lbl.value}})</span>{{/if}}
                                {{#if pages_lbl}}<span>, {{pages_lbl.value}}</span>{{/if}}
                              </p>
                            </template>
                          
                            <template id="catalogue">
                              <p>
                                {{authors.value}}, <strong><em>{{title.value}}</em></strong>, in «{{essay_title_lbl.value}}»
                              </p>
                            </template>

                            <template id="default">
                              <p>
                                <strong>MISSING TYPE</strong>
                              </p>
                            </template>
                          </semantic-switch>                          

                        </template>

                      </semantic-table>
                    </semantic-search-result>
                  </bs-tab>
                </bs-tabs>

              </div>
          </semantic-search-result-holder>
        </div>
        </semantic-search>
      </div>
    </div>

</div>

<style>

  #source_list{
    margin-bottom: 200px;
  }
   #source_list .facet__category-selector-holder{
    display: none;
  }
  #source_list .search-container {
    margin-top: 10px;
  }
  #source_list .page{
    padding-left: 20px;
    padding-right: 20px;
  }
  #source_list .align-text{
    margin-top: 0px;
  }
  #source_list .btn a{
    color: #fff!important;
  }
  #source_list .griddle-custom-row{
    display: block!important;
  }
  #source_list .clickable-row{
    padding: 10px 0;
    border-top: 1px solid lightgrey!important;
  }
  #source_list .clickable-row:first-child{
    border-top: none;
  }
  #source_list .clickable-row:hover{
    background-color: var(--color-primary-10);;
    cursor: pointer;
  }
  #source_list .clickable-row .detail-img{
    min-width: 80px;
    height: 80px;
    object-fit: cover;
  }
  #source_list .show-one{
    display: none;
  }
  #source_list .show-one:first-of-type{
    display: block!important;
    margin-bottom: 10px;
  }
  #source_list .rs-draggable-container{
    padding: none;
    border: none;
  }
</style>