<semantic-form 
  new-subject-template='https://veniss.net/resource/actor/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
  fields='[[ fieldDefinitions
    label="http://www.researchspace.org/pattern/general/rdfs:label"
    type="http://localhost:10214/container/fieldDefinitionContainer/archipelago_type"
    actor_type="https://veniss.net/container/fieldDefinitionContainer/actor_type"
    actor_title="http://localhost:10214/container/fieldDefinitionContainer/actor_titles"
    
    actor_birth="https://veniss.net/container/fieldDefinitionContainer/actor_birth"
    actor_death="https://veniss.net/container/fieldDefinitionContainer/Actor_Death"
    actor_name="https://veniss.net/container/fieldDefinitionContainer/actor_name"

    actor_occupation="https://veniss.net/container/fieldDefinitionContainer/actor_occupation"
    has_type="https://veniss.net/container/fieldDefinitionContainer/actor_titles2"
    
    actor_givenname="https://veniss.net/container/fieldDefinitionContainer/actor_givenname"
    actor_familyname="https://veniss.net/container/fieldDefinitionContainer/actor_familyname"
    actor_alias="https://veniss.net/container/fieldDefinitionContainer/actor_alias"
    actor_socialstatus="https://veniss.net/container/fieldDefinitionContainer/actor_socialstatus"

    P138i_has_representation="https://veniss.net/container/fieldDefinitionContainer/actor_representation"
    
    related_events="https://veniss.net/container/fieldDefinitionContainer/source_related_events"
    related_sources="https://veniss.net/container/fieldDefinitionContainer/actor_related_sources"
  ]]'
  [[>rsp:FormDefaults]]
  >
  <div class="form-scroll-area">
    <bs-row class="clearfix">

      <semantic-form-errors></semantic-form-errors>


      <bs-col sm="12" md="9">

        <!-- General data -->
        <bs-row>

          <bs-col xs="6" sm="3" md="2">
            <semantic-form-hidden-input for="type" default-values='["https://veniss.net/arconto#Actor", "http://www.cidoc-crm.org/cidoc-crm/E39_Actor"]'></semantic-form-hidden-input>

            <!-- Visual Representation -->
            <semantic-form-drag-and-drop-input 
              label="Visual Representation"
              for="P138i_has_representation" 
              nested-form-template='{{> forms:Image nested=true editable=true}}'>
            </semantic-form-drag-and-drop-input>
          </bs-col>

          <bs-col xs="6" sm="9" md="10">
            <!-- label -->
            <semantic-form-text-input for="actor_name" label="Label" placeholder="Insert Actor's name here">
            </semantic-form-text-input>

            <!-- Type -->
            <semantic-form-select-input for='actor_type' label="Type" placeholder="Choose a type between Group and Person">
            </semantic-form-select-input>

            <bs-row>
              <!-- Given Name -->
              <bs-col xs="4" sm="4" md="4">
                <semantic-form-composite-input
                  for="actor_givenname"
                  label="Given name"
                  new-subject-template="/given_name"
                  fields='[[ fieldDefinitions
                    type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                    label="https://veniss.net/container/fieldDefinitionContainer/archipelago_label_single" 
                    has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
                  ]]'
                >
                  <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E41_Appellation'></semantic-form-hidden-input> 
                  <semantic-form-hidden-input for="has_type" default-value='https://veniss.net/resource/type/given_name'></semantic-form-hidden-input> 

                  <semantic-form-text-input render-header="false" placeholder="Given Name of the actor" for="label"></semantic-form-text-input>
                </semantic-form-composite-input>
              </bs-col>
              
              <!-- Family Name -->
              <bs-col xs="4" sm="4" md="4">
                <semantic-form-composite-input
                  for="actor_familyname"
                  label="Family name"
                  new-subject-template="/family_name"
                  fields='[[ fieldDefinitions
                    type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                    label="https://veniss.net/container/fieldDefinitionContainer/archipelago_label_single" 
                    has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
                  ]]'
                >
                  <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E41_Appellation'></semantic-form-hidden-input> 
                  <semantic-form-hidden-input for="has_type" default-value='https://veniss.net/resource/type/family_name'></semantic-form-hidden-input> 
    
                  <semantic-form-text-input render-header="false" placeholder="Family Name of the actor" for="label"></semantic-form-text-input>
                </semantic-form-composite-input>
              </bs-col>

              <!-- Alias -->
              <bs-col xs="4" sm="4" md="4">
                <semantic-form-composite-input
                  for="actor_alias"
                  label="Alias"
                  new-subject-template="/alias"
                  fields='[[ fieldDefinitions
                    type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                    label="https://veniss.net/container/fieldDefinitionContainer/archipelago_label_single" 
                    has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
                  ]]'
                >
                  <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E41_Appellation'></semantic-form-hidden-input> 
                  <semantic-form-hidden-input for="has_type" default-value='https://veniss.net/resource/type/alias'></semantic-form-hidden-input> 
    
                  <semantic-form-text-input render-header="false" placeholder="Alias of the actor" for="label"></semantic-form-text-input>
                </semantic-form-composite-input>
              </bs-col>
            </bs-row>
          </bs-col>

        </bs-row>

        <hr>


        <!-- Other data -->

        <bs-row>
          <!-- Title -->
          <bs-col sm="12" md="12">
            <semantic-form-tree-picker-input 
              for='has_type'
              label="Titles"
              tree-patterns='{
                "relationPattern": "?item skos:broader ?parent", 
                "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/actor_types>"
              }'>
            </semantic-form-tree-picker-input>
          </bs-col>
          

          <!-- Patronymic (?) -->

          <!-- Social Status -->
          <bs-col sm="12" md="12">
            <semantic-form-select-input label="Social status" placeholder="Social status fo the Actor" for="actor_socialstatus"></semantic-form-select-inputt>

          </bs-col>

          <!-- Religius Order -->

          <!-- Occupation -->
          <bs-col sm="12" md="12">
            <semantic-form-tree-picker-input 
              for='actor_occupation'
              label="Occupations"
              tree-patterns='{
                "relationPattern": "?item skos:broader ?parent", 
                "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/actor_types>"
              }'>
            </semantic-form-tree-picker-input>
          </bs-col>

        </bs-row>

        <hr>

        <!-- Birth and Death -->
        <bs-row>

          <!-- Birth -->
          <bs-col md="6">
            <semantic-form-composite-input
              for="actor_birth"
              label="Birth"
              new-subject-template="/birth"
              fields='[[ fieldDefinitions
                type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                actor_has_time_span="https://veniss.net/container/fieldDefinitionContainer/Actor_Has_Time_Span"
                actor_birth_place="https://veniss.net/container/fieldDefinitionContainer/Actor_Birth_Place"
                single_label="https://veniss.net/container/fieldDefinitionContainer/archipelago_label_single"
              ]]'
              >

              <semantic-form-hidden-input for="type" default-value="crm:E67_Birth"></semantic-form-hidden-input>
    
              <!-- Birth Place -->
              <semantic-form-text-input for="single_label" label="Place"></semantic-form-text-input>

              
              <!-- Birth Date -->
              <semantic-form-composite-input
                for="actor_has_time_span"
                new-subject-template="/date"
                render-header="false"
                fields='[[ fieldDefinitions 
                  type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                  actor_birth_date="https://veniss.net/container/fieldDefinitionContainer/actor_birth_date"
                  actor_birth_place="https://veniss.net/container/fieldDefinitionContainer/Actor_Birth_Place"
                  ]]'
                >
                  <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/cidoc-crm/E4_Time-span"></semantic-form-hidden-input> 
                  <semantic-form-datetime-input for='actor_birth_date' label="Date" placeholder="YYYY-MM-DD"></semantic-form-datetime-input>
              </semantic-form-composite-input>
      
            </semantic-form-composite-input>
            

          </bs-col>

          <!-- Death -->
          <bs-col md="6">            
            <semantic-form-composite-input
              for="actor_death"
              label="Death"
              new-subject-template="/death"
              fields='[[ fieldDefinitions
                type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                actor_has_time_span="https://veniss.net/container/fieldDefinitionContainer/Actor_Has_Time_Span"
                actor_death_place="https://veniss.net/container/fieldDefinitionContainer/Actor_Death_Place"
                single_label="https://veniss.net/container/fieldDefinitionContainer/archipelago_label_single"
              ]]'
              >
                <semantic-form-hidden-input for="type" default-value="crm:E69_Death"></semantic-form-hidden-input>
              
                <!-- Death Place -->
                <semantic-form-text-input for="single_label" label="Place"></semantic-form-text-input>

                <!-- Death Date -->
                <semantic-form-composite-input
                for="actor_has_time_span"
                new-subject-template="/date"
                render-header="false"
                fields='[[ fieldDefinitions 
                  type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                  actor_death_date="https://veniss.net/container/fieldDefinitionContainer/Actor_Death_Date"
                ]]'
                >
                  <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/cidoc-crm/E4_Time-span"></semantic-form-hidden-input> 
                  <semantic-form-datetime-input for='actor_death_date' label="Date" placeholder="YYYY-MM-DD"></semantic-form-datetime-input>
                </semantic-form-composite-input>
            </semantic-form-composite-input>
          </bs-col>

        </bs-row>

        <!-- Marriage and Will -->
        <bs-row>
          <!-- Marriage -->
          <bs-col md="6">
          </bs-col>

          <!-- Will -->
          <bs-col md="6">
          </bs-col>
        </bs-row>

      </bs-col>

      <bs-col sm="12" md="3">

        <h3>Related entities</h3>

        <bs-tabs id="tabs">

          <bs-tab event-key="1" title="Events">
            <semantic-form-drag-and-drop-input 
              render-header="false"
              for="related_sources">
            </semantic-form-drag-and-drop-input> 
          </bs-tab>

          <bs-tab event-key="2" title="Sources">
          </bs-tab>

          <bs-tab event-key="3" title="Builtworks">
          </bs-tab>
        </bs-tabs>

      </bs-col>


    </bs-row>
  </div>
  [[> rsp:FormDefaultActions]]
</semantic-form>


<!--

  <semantic-form-tree-picker-input 
    for='actor_title'
    label="Titles"
    tree-patterns='{
      "relationPattern": "?item skos:broader ?parent", 
      "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/actor_types>"
    }'>
  </semantic-form-tree-picker-input>

-->