<div class="page">
  <div class='page__body'>

    <div data-flex-layout="columns center-stretch">

      <div class="Header">
        <h1>List of actors</h1>
        <hr>
      </div>

      <div class="subheader">

        <bs-alert bs-style="info">
          <strong>An Actor is missing? </strong>
            create a new 
            <strong>
              <semantic-link 
                iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view="entity-editor"
                urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Person"
                urlqueryparam-mode="new"
              >Person</semantic-link> 
            </strong>
             or a new 
            <strong>
              <semantic-link 
                iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view="entity-editor"
                urlqueryparam-entity-type-config="http://www.researchspace.org/resource/system/vocab/authority_manager_config_types/data/Group"
                urlqueryparam-mode="new"
              >Group</semantic-link>
            </strong>

        </bs-alert>

      </div>

      <div class="body">
        <semantic-search>
          <semantic-search-query-constant 
            query='
              select ?subject where { { ?subject a veniss_ontology:Person } union { ?subject a veniss_ontology:Group } }'>
          </semantic-search-query-constant>

          <div data-flex-layout="row stretch-stretch">
            <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
              <semantic-search-facet></semantic-search-facet>
            </div>

            <semantic-search-result-holder>
              <div data-flex-self="md-full">

                <semantic-search-result>
                  <semantic-table 
                    id='table-result'
                    query='SELECT DISTINCT ?subject ?label WHERE { 

                      OPTIONAL { ?subject crm:P1_is_identified_by ?given_name. ?given_name crm:P2_has_type <https://veniss.net/resource/type/given_name>; rdfs:label ?given_name_label. BIND(CONCAT(?given_name_label, " ") AS ?name) } BIND(CONCAT(?name) AS ?label)
                    }'
                    column-configuration='[
                      {
                        "displayName": "Image",
                        "cellTemplate": "{{> visual_representation}}"
                      },
                      {
                        "displayName": "Name",
                        "cellTemplate": "{{> name}}"
                      }
                    ]'
                  >
                    <template id="visual_representation">

                      <semantic-context storage="veniss_s3">

                        <mp-resource-thumbnail style="height: 100px" iri='{{subject.value}}' class='detail-img'>
                            <mp-resource-thumbnail-fallback>
                                <with-types iri='{{subject.value}}'
                                        template='{{> noImage}}'
                                        [[> rsp:TypeMappings]]
                                    >
                                    <template id="noImage">
                                        <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-actor_no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                                    </template>
                                </with-types>
                            </mp-resource-thumbnail-fallback>
                        </mp-resource-thumbnail>

                      </semantic-context>
                      
                    </template>
                    <template id="name">
                      <mp-event-trigger 
                        id='{{subject.value}}-add-frame' 
                        type='Dashboard.AddFrame' 
                        data='{
                          "resourceIri": "{{subject.value}}", 
                          "viewId": "entity-editor"
                        }' 
                        targets='["thinking-frames"]'>
                          <a href="#">
                            {{label.value}}
                          </a>
                      </mp-event-trigger>  
                    </template>

                  </semantic-table>
                </semantic-search-result>

              </div>
          </semantic-search-result-holder>
        </div>
      </semantic-search>
      </div>

    </div>    

  </div>
</div>