<mp-event-target-template-render id='sidebar' template='{{> sidebar_tmpl}}'>
    <template id='sidebar_tmpl'>

            <!-- <h2 id="mapControlsTitle">Map Control Panel</h2> -->
            
    </template>
</mp-event-target-template-render>
<style>
 #navigatorContainer a{
    color: #3498db!important;
  }
  
  #navigatorContainer h2{
    text-align: center;
  }

  div.E5_Event{
    border-left: 5px solid #F58F84!important;
  }

  div.E22_Man-Made_Object{
    border-left: 5px solid #26A65B!important;
  }

  div.E39_Actor{
    border-left: 5px solid #FFA400!important;
  }

  .navigator-icon{
    height: 30px;
  }

  .w-100{
    width: 100%!important;
  }
</style>
