<semantic-form
  new-subject-template='https://archipelago.itatti.harvard.edu/resource/source/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
  fields='[[ fieldDefinitions
    type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    label="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/archipelago_label"

    source_identifier="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/archipelago_label_single"
    source_original_title="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_original_title"
    source_attributed_title="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_attributed_title"

    has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
    is_subject_of="http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of"
    builtwork_construction="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction"
    source_location="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_location"
    P138i_has_representation="http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation"
    source_was_measured_by="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_was_measured_by"
    
    related_actors="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_related_actor"
    related_events="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_related_events"
    related_builtworks="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_related_builtworks"

    source_synopsis="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_synopsis"
  ]]'
  [[>rsp:FormDefaults]]
>
<div class="form-scroll-area">
  

  <semantic-form-hidden-input for="type" default-values='["http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object","https://archipelago.itatti.harvard.edu/arconto#Source"]'></semantic-form-hidden-input>

  <div class="container-fluid">
    <bs-row id="form-body">

      <semantic-form-errors></semantic-form-errors>
      
      <!-- LEFT: Source data -->
      <bs-col sm="12" md="12" lg="6">

        <!-- Subject -->
        <div>
          <bs-row>
            <semantic-form-text-input label="Attributed Title" for="source_identifier"></semantic-form-text-input>
          </bs-row>

          <!-- Original title -->
          <bs-row>
            <semantic-form-composite-input
              for="source_original_title"
              label="Original Title"
              new-subject-template="/original_title"
              fields='[[ fieldDefinitions
                type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                label="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/archipelago_label_single" 
                has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
              ]]'
            >
              <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E41_Appellation'></semantic-form-hidden-input> 
              <semantic-form-hidden-input for="has_type" default-value='https://archipelago.itatti.harvard.edu/resource/type/original_title'></semantic-form-hidden-input> 
  
              <semantic-form-text-input render-header="false" languages='["en", "it"]' label="Title" for="label"></semantic-form-text-input>
            </semantic-form-composite-input>
          </bs-row>

          <!-- Visual Representation -->
          <bs-row>
            <semantic-form-drag-and-drop-input 
              label="Visual Representation"
              for="P138i_has_representation" 
              nested-form-template='{{> forms:Image nested=true editable=true}}'>
            </semantic-form-drag-and-drop-input>
          </bs-row>
        </div>

      </bs-col>

      <bs-col sm="12" md="12" lg="6">


        <div>

        
          <!-- Attributed title 
          <bs-row>

            <semantic-form-composite-input
              for="source_attributed_title"
              label="Attributed Title"
              new-subject-template="/attributed_title"
              fields='[[ fieldDefinitions
                type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                label="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/archipelago_label_single" 
                has_type="http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
              ]]'
            >
              <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E41_Appellation'></semantic-form-hidden-input> 
              <semantic-form-hidden-input for="has_type" default-value='https://archipelago.itatti.harvard.edu/resource/type/original_title'></semantic-form-hidden-input> 

              <semantic-form-text-input render-header="false" languages='["en", "it"]' label="Title" for="label"></semantic-form-text-input>
            </semantic-form-composite-input>
            
          </bs-row>
          -->

          <bs-row>

            <semantic-form-tree-picker-input 
              for='has_type'
              label="Typology"
              tree-patterns='{
                "relationPattern": "?item skos:broader ?parent", 
                "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/source_types>"
              }'>
            </semantic-form-tree-picker-input>

          </bs-row>

        </div>

        <!-- Typology -->
        <bs-row>

        </bs-row>

      </bs-col>

    </bs-row>

    <bs-tabs id="main-tabs">

      <bs-tab event-key="1" title="Source">



        <!-- Creation -->
        <bs-row>
          <semantic-form-composite-input
            for="builtwork_construction"
            label="Creation date and Authors"
            new-subject-template="/production"
            fields='[[ fieldDefinitions
              type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
              builtwork_construction_actor_role="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor_role"
              builtwork_has_time-span="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_has_time-span"
            ]]'
          >

            <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/cidoc-crm/E12_Production"></semantic-form-hidden-input>

            <!-- Date -->
            <semantic-form-composite-input
              for="builtwork_has_time-span"
              new-subject-template="/date"
              render-header="false"
              fields='[[ fieldDefinitions 
                type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                builtwork_date_end_of_the_begin="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_date_end_of_the_begin"
              ]]'
            >
              <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/cidoc-crm/E4_Time-span"></semantic-form-hidden-input> 
              <semantic-form-datetime-input label="Date" for='builtwork_date_end_of_the_begin' placeholder="YYYY-MM-DD"></semantic-form-datetime-input>

            </semantic-form-composite-input>

            <!-- Actors -->
            <semantic-form-composite-input
              for="builtwork_construction_actor_role"
              new-subject-template="/actor_role/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
              label="Author"
              fields='[[ fieldDefinitions
                type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
                builtwork_construction_actor-role_actor="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor-role_actor"
                builtwork_construction_actor-role_role="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/builtwork_construction_actor-role_role"
              ]]'
            >
              <semantic-form-hidden-input for="type" default-value="http://www.cidoc-crm.org/crmpc/PC14_carried_out_by"></semantic-form-hidden-input>

              <!-- Add an existing or create a new one-->
              <semantic-form-autocomplete-input label="Name" for='builtwork_construction_actor-role_actor'></semantic-form-autocomplete-input>
              
              <!-- Role -->
              <semantic-form-autocomplete-input label="Role" for='builtwork_construction_actor-role_role'></semantic-form-autocomplete-input>

            </semantic-form-composite-input>

          </semantic-form-composite-input>
        </bs-row>

        <!-- Archival Location -->
        <bs-row>

          <!-- 
          <semantic-form-drag-and-drop-input 
            label="Archival Location" 
            for="source_location">
          </semantic-form-drag-and-drop-input> 
          -->

          <semantic-form-tree-picker-input 
            label="Archival Location" 
            for='source_location'
            tree-patterns='{
              "relationPattern": "?item crm:P46i_forms_part_of ?parent", 
              "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/archives>"
            }'>
          </semantic-form-tree-picker-input>
        </bs-row>

        <!-- Dimensions -->
        <bs-row>
          <semantic-form-composite-input
            for="source_was_measured_by"
            label="Dimension"
            new-subject-template="/dimension"
            fields='[[ fieldDefinitions
              type="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
              value="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/dimension_has_value"
              source_unit="https://archipelago.itatti.harvard.edu/container/fieldDefinitionContainer/source_unit"
            ]]'
          >
            <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E54_dimension'></semantic-form-hidden-input>
      
              <bs-row>
                <bs-col sm="10">
                  <semantic-form-text-input placeholder="width x height" render-header="false" for="value"></semantic-form-text-input>
                  <br>
                  <p><strong>note:</strong> remember to write <strong>height</strong> x <strong>width</strong></p>
                </bs-col>
                <bs-col sm="2">
                  <semantic-form-select-input render-header="false" for='source_unit'></semantic-form-select-input>
                </bs-col>
              </bs-row>
      
          </semantic-form-composite-input>
        </bs-row>

        <hr>

        <!-- Synopsis and Transcription -->

        <bs-row>
          <bs-tabs id="tabs">
            <bs-tab event-key="1" title="Synopsis">
              <semantic-form-text-input render-header="false" label="Synopsis" for="source_synopsis" multiline="true" placeholder="Insert synopsis"></semantic-form-text-input>
            </bs-tab>
            <bs-tab event-key="2" title="Transcription">
              
            </bs-tab>
          </bs-tabs>
        </bs-row>

      </bs-tab>

      <bs-tab event-key="2" title="Related Entities">

        <bs-alert bs-style="warning">
          <p>    
            <strong> If </strong> you can't find the entity, use the 
            <mp-event-trigger type='Dashboard.AddFrame' data='{"viewId": "list-search","mode": "new"}' targets='["thinking-frames"]'>
              <a class="text-underline">visual search</a> 
            </mp-event-trigger> 
            <strong> or </strong>
            <mp-event-trigger type='Dashboard.AddFrame' data='{"viewId": "entity-editor","mode": "new"}' targets='["thinking-frames"]'>
              <a class="text-underline">create it</a>
            </mp-event-trigger>.
          </p>
        </bs-alert>
          
        
        <bs-tabs id="tabs">

          <bs-tab event-key="1" title="Related People">
            <semantic-form-drag-and-drop-input 
              render-header="false"
              for="related_actors">
            </semantic-form-drag-and-drop-input> 
          </bs-tab>

          <bs-tab event-key="2" title="Related Events">
            <semantic-form-drag-and-drop-input 
              render-header="false"
              for="related_events">
            </semantic-form-drag-and-drop-input> 
          </bs-tab>

          <bs-tab event-key="3" title="Related Builtworks">
            <semantic-form-drag-and-drop-input 
              render-header="false"
              for="related_builtworks">
            </semantic-form-drag-and-drop-input> 
          </bs-tab>
        </bs-tabs>

      </bs-tab>

    </bs-tabs>

  </div>

</div>

[[> rsp:FormDefaultActions]]
</semantic-form>

<style>
  #form-body{
    margin-top: 50px;
  }

  .margin-top{
    margin-top: 40px;
  }
</style>