<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h6>Map</h6>
        </div>
    </div>
    <div class="row" style="height:100%;">
        <div class="col-xs-9 no-padding">
            <semantic-context repository='ephedra'>
                <semantic-map
                  query='
                    PREFIX wdt: <http://www.wikidata.org/prop/direct/>
                    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
                    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                    PREFIX ephedra: <http://www.researchspace.org/resource/system/ephedra#>
                    PREFIX rssqlsail: <http://www.researchspace.org/resource/system/sql#>
                    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
                    PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                    
                    SELECT ?wkt ?bw_id ?name ?start_date ?end_date WHERE {
                        SERVICE <http://www.researchspace.org/resource/system/repository/federation#geosql> {
                            ?root rssqlsail:hasQueryId "q1" .
                            ?root rssqlsail:hasMinX "1368358.959761288".
                            ?root rssqlsail:hasMinY "5692238.026840036".
                            ?root rssqlsail:hasMaxX "1371414.0522355612".
                            ?root rssqlsail:hasMaxY "5693523.1243780805".
                            ?root rssqlsail:hasGeo ?wkt .
                            ?root rssqlsail:hasId ?id.
                        }
                        
                        bind(?id as ?bw_id).
                        ?bw crm:P1_is_identified_by ?id_node.
                        ?id_node rdfs:label ?bw_id.
                    
                        ?bw rdfs:label ?name.
                    
                        ?bw crm:P108i_was_produced_by ?prod.
                        ?prod a crm:E12_Production.
                        ?prod crm:P4_has_time-span ?prod_date.
                        ?prod_date crm:P82a_begin_of_the_begin ?start_date.
                    
                        optional{
                            ?bw crm:P13i_was_destroyed_by ?desc.
                            ?desc a crm:E6_Destruction.
                            ?desc crm:P4_has_time-span ?dest_date.
                            ?dest_date crm:P82b_end_of_the_end ?end_date
                        }
                    }
                  '
                  fixZoomLevel="18"
                  extent="[1368358.959761288, 5692238.026840036, 1371414.0522355612, 5693523.1243780805]"
                  tuple-template='<b>{{bw_id.value}}</b>'
                  provider='mapbox'
                  provider-options='{"style": "dark-v10", "crs": "EPSG:3857"}'
                  ></semantic-map>
              
              </semantic-context> 
        </div>
        <div class="col-xs-3">
            <h2>Historical Map</h2>
        </div>
    </div>
</div>