<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h6>Maps</h6>
        </div>
    </div>
    <div class="row" style="height:100%;">
        <div class="col-xs-9">
            <semantic-context repository='geo'>
                <semantic-map
                        query='
    PREFIX wdt: <http://www.wikidata.org/prop/direct/>
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX rssqlsail: <http://www.researchspace.org/resource/system/sql#>
    SELECT ?wkt WHERE {
      SERVICE <http://www.metaphacts.com/ontologies/platform/repository/federation#geo> {
        ?root rssqlsail:hasQueryId "q1" .
        ?root rssqlsail:hasGeo ?wkt .
      }
    } LIMIT 1
    '></semantic-map>
            </semantic-context>
        </div>
        <div class="col-xs-3">
            <h2>Historical Map</h2>
        </div>
    </div>
</div>