<mp-event-target-template-render id='sidebar' template='{{> sidebar_tmpl}}'>
    <template id='sidebar_tmpl'>
        {{#if showbasemaps}}
            <!-- <h2 id="mapControlsTitle">Basemaps</h2> -->

            <semantic-map-controls
            id="basemap-control"
            target-map-id="search-map"
            features-taxonomies="use,function,name,typology"
            features-color-taxonomies="use,function"
            features-options-enabled="false"
            filters-initialization='{"basemap":true,"overlay":false,"feature":false}'
            show-filters='false'
            >
            </semantic-map-controls>
            
        {{else if showhistoricalmaps}}
            <!-- <h2 id="mapControlsTitle">Historical Maps</h2> -->
            <semantic-map-controls
            id="historical-map-control"
            target-map-id="search-map"
            features-taxonomies="use,function,name,typology"
            features-color-taxonomies="use,function"
            features-options-enabled="false"
            filters-initialization='{"basemap":false,"overlay":true,"feature":false}'
            show-filters='false'
            >
            </semantic-map-controls>


        {{else if showoptions}}
            <!-- <h2 id="mapControlsTitle">Map Control Panel</h2> -->
            <semantic-map-controls
              id="search-map-control"
              target-map-id="search-map"
              features-taxonomies="use,function,name,typology"
              features-color-taxonomies="use,function"
              features-options-enabled="true"
              filters-initialization='{"basemap":true,"overlay":true,"feature":true}'
              vector-levels='["Island","Buildings"]'
              show-filters="true"
              >
            </semantic-map-controls>
        {{else}}
        <div>

          <div id="mapNavigatorContainer">
            <semantic-search-result>
              <semantic-table
                id="table"
                number-of-displayed-rows="1000"
                query='SELECT DISTINCT ?iri ?label ?type ?image_name ?project ?tooltip WHERE 
                { 

                  ?subject a veniss_ontology:Builtwork.

                  ?relation1 a veniss_ontology:Relation;
                    crmpc:P01_has_domain ?event;
                    crmpc:P02_has_range ?subject.
              
                  ?relation2 a veniss_ontology:Relation;
                    crmpc:P01_has_domain ?event;
                    crmpc:P02_has_range ?object.

                  
                  ?object veniss_ontology:demo-project ?project;
                    veniss_ontology:demo-project-tooltip ?tooltip.
                  
                  optional {?object veniss_ontology:demo-type ?type}

                  optional {
                    ?object rdfs:label ?label.
                  }

                  OPTIONAL {
                    ?object rso:PX_has_main_representation $representation.
                    $representation a rso:EX_Digital_Image;
                      crm:P1_is_identified_by $value.
                  
                    ?value rso:PX_has_file_name ?image_name
                  }

                  BIND(?object as ?iri)
                }'
                tuple-template='{{>tupleTemplate}}'
              >
              <template id='tupleTemplate'>

                <bs-row class="demo-navigator">
                  <bs-col sm="3" md="3">
                    {{#if image_name}}
                      <img class="demo-image" src="../../assets/images/demo/{{image_name.value}}" alt="{{label.value}}" title="{{label.value}}">
                    {{else}}
                     
                            <mp-resource-thumbnail style="height: 100px" iri='{{iri.value}}' class='detail-img'>
                                <mp-resource-thumbnail-fallback>
                                    <with-types iri='{{iri.value}}'
                                            template='{{> noImage}}'
                                            [[> rsp:TypeMappings]]
                                        >
                                        <template id="noImage">
                                            <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                                        </template>
                                    </with-types>
                                </mp-resource-thumbnail-fallback>
                            </mp-resource-thumbnail>
                    {{/if}}

                  </bs-col>

                  <bs-col sm="6" md="6">
                    <bs-row>
                      <h5 class="demo-type">
                        {{#if type}}
                          {{type.value}}
                        {{else}}
                          iconographic source
                        {{/if}}
                      </h5>
                    </bs-row>
                    <bs-row>
                      {{label.value}}
                    </bs-row>
                  </bs-col>
                  <bs-col sm="3" md="3">
                    


                    <mp-popover title="Project">
                      <mp-popover-trigger placement="top"  trigger='["hover","focus"]'> 
                        <div class="demo-tooltip {{project.value}}">{{project.value}}</div>
                      </mp-popover-trigger>
                        <mp-popover-content style="background:white;">
                        <div>{{tooltip.value}}</div>
                        </mp-popover-content>
                    </mp-popover>
              
                    
                  </bs-col>
                <bs-row>

              </template>

              </semantic-table>
              
            </semantic-search-result>
          </div>

        </div>
        {{/if}}
    </template>
</mp-event-target-template-render>
<style>
 #navigatorContainer a{
    color: #3498db!important;
  }
  
  #navigatorContainer h2{
    text-align: center;
  }

  div.E5_Event{
    border-left: 5px solid #F58F84!important;
  }

  div.E22_Man-Made_Object{
    border-left: 5px solid #26A65B!important;
  }

  div.E39_Actor{
    border-left: 5px solid #FFA400!important;
  }

  .navigator-icon{
    height: 30px;
  }

  .w-100{
    width: 100%!important;
  }

  .demo-navigator{
    width: -moz-available;
    width: -webkit-fill-available;
    margin-top: 30px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
  }

  .demo-image{
    padding: 12px 20px;
    margin-right: 20px;
    height: 100px;
  }

  .demo-type{
    font-family: "Source Sans Pro", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9D2933;
  }

  .demo-tooltip {
    background-color: #333;
    color: #fff;
    padding: 5px 3px;
    width: 27px;
    border-radius: 50px;
    text-align: center;
  }

  .VE{
    background-color: #333;
  }

  .DB{
    background-color: #C91F37;
  }

  .PM{
    background-color: #264348;
  }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
