<div id="mapContainer">
  <semantic-search-result>
    <semantic-map
      id="search-map"
      target-controls='["search-map-control"]'
      query="SELECT DISTINCT ?subject ?wkt ?name ?function ?use ?typology ?bob ?boe ?eob ?eoe WHERE {
        ?subject rdfs:label ?name.
        OPTIONAL {
          ?subject arconto:has_use ?useNode.
          ?useNode rdfs:label ?use.
          FILTER (lang(?use) = 'en').
          FILTER (STR(?use) != 'Use').
        }
  
        OPTIONAL {
          ?subject arconto:has_typology ?typologyNode.
          ?typologyNode rdfs:label ?typology.
        }
          OPTIONAL {
          ?subject arconto:has_function ?functionNode.
          ?functionNode rdfs:label ?function.
          FILTER (lang(?function) = 'en').
          FILTER (STR(?function) != 'Function').
        }
      }

      
      
      ORDER BY DESC(?subject)"
      map-options='{"crs":"EPSG:3857", "extent": [1358358.959761288, 5681238.026850056, 1385414.0522355612, 5705635.9345880805]}'
      fix-zoom-level="17"
      fix-center="[1370000.000000000, 5692800.000000000]"
      tuple-template="{{> details }}"
    >

      <template id="details">
        <h3>{{name.value}}</h3>
        <p>
          <semantic-link iri="{{subject.value}}">{{subject.value}}</semantic-link>
          
          
        </p>
      </template>
      <tiles-layer
        thumbnail='/assets/images/SS_Orthophoto_1982.jpg'
        url='/proxy/mapbox/v4/gspinaci.4g3g986z/{z}/{x}/{y}@2x.png'
        identifier='SS_Orthophoto_1982'
        name='Aerial view of the island of San Secondo'
        level='overlay'
        author="Unknown Author"
        location="Venice, Archivio Municipale di Venezia"
        year="1982">
      </tiles-layer>
      <tiles-layer
      thumbnail='/assets/images/SS_IGM_1945.jpg'
      url='/proxy/mapbox/v4/gspinaci.1fedppsy/{z}/{x}/{y}@2x.png'
      identifier='SS_IGM_1945'
      name='Aerial view of the island of San Secondo'
      level='overlay'
      author="Royal Air Force"
      location="Florence, Istituto Geografico Militare, 1945.01.279"
      year="1945">
      </tiles-layer>
      <tiles-layer
      thumbnail='/assets/images/SS_Survey_1801.jpg'
      url='/proxy/mapbox/v4/gspinaci.2jpz15av/{z}/{x}/{y}@2x.png'
      identifier='SS_Survey_1801'
      name='Plan of the island of San Secondo'
      level='overlay'
      author="K.K. Fortifications Local Direction zu Venedig"
      location="Rome, Istituto Storico di Cultura dell’Arma del Genio, Disegni, Forti e Castelli, Venezia, X A, 630 (10/A 630)"
      year="1801"></tiles-layer>
      <tiles-layer
      thumbnail='/assets/images/1763_Polynomial2_NN.jpg'
      url='/proxy/mapbox/v4/gspinaci.cxuajku9/{z}/{x}/{y}@2x.png'
      identifier='1763_Polynomial2_NN'
      name='Map of the Venetian Lagoon'
      level='overlay'
      author="Angelo Emo"
      location="Venice, Archivio di Stato di Venezia, Savi ed esecutori alle acque, Disegni, Laguna, dis. 167"
      year="1763"></tiles-layer>
      <tiles-layer
      thumbnail='/assets/images/basemaps_thumbnails_light.jpg'
      url='/proxy/mapbox/styles/v1/mapbox/light-v10/tiles/256/{z}/{x}/{y}'
      identifier='light'
      name='Light'
      level='basemap'
      author=""
      location=""
      year=""></tiles-layer>
      <tiles-layer
      thumbnail='/assets/images/basemaps_thumbnails_custom.jpg'
      url='/proxy/mapbox/styles/v1/gspinaci/ckipvyxje12cl17lesce3u8zb/tiles/256/{z}/{x}/{y}'
      identifier='custom'
      name='Water'
      level='basemap'
      author=""
      location=""
      year=""></tiles-layer>
      <tiles-layer
      thumbnail='/assets/images/basemaps_thumbnails_satellite.jpg'
      url='/proxy/mapbox/styles/v1/mapbox/satellite-v9/tiles/256/{z}/{x}/{y}'
      identifier='satellite'
      name='Satellite View' 
      level='basemap'
      author=""
      location=""
      year=""></tiles-layer>
      <tiles-layer
      thumbnail='/assets/images/basemaps_thumbnails_ortofoto.jpg'
      url='http://geoportale.comune.venezia.it/Geocortex/Essentials/REST/local-proxy/GeoPortale/11/RasterDataset_2014_2/MapServer/tile/{z}/{y}/{x}'
      identifier='comune_venezia'
      name="Venice's Municipality"
      level='basemap'
      author=""
      location=""
      year=""></tiles-layer>
    </semantic-map>
  </semantic-search-result>
</div>
