<semantic-form
  id='{{viewId}}-vocab-form' 
  post-action="event"
  subject='{{node}}'
  new-subject-template="https://veniss.net/resource/source/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
  fields='[[ fieldDefinitions
    type                                = "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    entity_published                    = "https://veniss.net/container/fieldDefinitionContainer/entity_published"
    entity_publication_notes            = "https://veniss.net/container/fieldDefinitionContainer/entity_publication_notes"

    source_island                       = "https://veniss.net/container/fieldDefinitionContainer/source_island"
    source_representation               = "https://veniss.net/container/fieldDefinitionContainer/source_representation"
    source_attributed_title             = "https://veniss.net/container/fieldDefinitionContainer/source_attributed_title"
    source_original_title               = "https://veniss.net/container/fieldDefinitionContainer/source_original_title"
    source_typology                     = "https://veniss.net/container/fieldDefinitionContainer/source_typology"
    source_author                       = "https://veniss.net/container/fieldDefinitionContainer/source_author"
    source_date                         = "https://veniss.net/container/fieldDefinitionContainer/source_date"
    source_date_composite               = "https://veniss.net/container/fieldDefinitionContainer/source_date_composite"

    source_location                     = "https://veniss.net/container/fieldDefinitionContainer/source_location"
    source_location_type                = "https://veniss.net/container/fieldDefinitionContainer/source_location_type"
    source_location_name                = "https://veniss.net/container/fieldDefinitionContainer/source_location_name"

    source_information_carrier_location = "https://veniss.net/container/fieldDefinitionContainer/source_information_carrier_location"
    source_information_carrier_type     = "https://veniss.net/container/fieldDefinitionContainer/source_information_carrier_type"
    source_information_carrier_name     = "https://veniss.net/container/fieldDefinitionContainer/source_information_carrier_name"

    source_technique                    = "https://veniss.net/container/fieldDefinitionContainer/source_technique"
    source_dimension                    = "https://veniss.net/container/fieldDefinitionContainer/source_dimension"
    source_dimension_unit               = "https://veniss.net/container/fieldDefinitionContainer/source_dimension_unit"
    source_comment                      = "https://veniss.net/container/fieldDefinitionContainer/source_comment"

    source_synopsis                     = "https://veniss.net/container/fieldDefinitionContainer/source_synopsis"
    source_transcription                = "https://veniss.net/container/fieldDefinitionContainer/source_transcription"
    
  ]]'
>
<div class="form-scroll-area">
  <semantic-form-errors></semantic-form-errors>

  <semantic-form-hidden-input for="type" default-values='["http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object","https://veniss.net/ontology#Source", "https://veniss.net/ontology#Source_Primary"]'></semantic-form-hidden-input>

  <div class="container-fluid">

    <div data-flex-layout="column stretch-stretch">

      <!-- Representation and titles -->
      <div data-flex-layout="row top-stretch">

        <div data-flex-layout="column top-stretch">
          <div id="source_visual_representation" class="padding-5">
            <semantic-form-file-input 
              label="Visual representation"
              for="source_representation"
              storage='images'
              temp-storage='tmp'
              placeholder='Add file here'
              name-predicate-iri='http://www.researchspace.org/ontology/PX_has_file_name'
              media-type-predicate-iri='http://www.researchspace.org/ontology/PX_has_media_type'
              resource-query='
                PREFIX rso: <http://www.researchspace.org/ontology/>
                CONSTRUCT {
                  ?__resourceIri__ a rso:EX_File.
                  ?__resourceIri__ rso:PX_has_file_name ?__fileName__.
                  ?__resourceIri__ rso:PX_has_media_type ?__mediaType__.
                  ?__resourceIri__ rdfs:label ?__filename__.
                } WHERE {}
              '
              generate-iri-query='
                SELECT ?resourceIri {
                  BIND(IRI(CONCAT(STR(Default:), "EX_File/", ?__fileName__)) AS ?resourceIri) .
                }
              '
            ></semantic-form-file-input>

            <!-- Check if the source has been created and has image -->
            {{#if node}}
              <semantic-if 
                query='
                  PREFIX rso: <http://www.researchspace.org/ontology/>
                  ASK { 
                    <{{node}}> rso:PX_has_main_representation ?representation.
                    ?representation a rso:EX_Digital_Image;
                      crm:P1_is_identified_by ?image
                  }' 
                then='{{> then}}' else='{{> else}}'>
                <template id='then'>
                  <div class="padding-5">
                    <mp-event-trigger 
                      id='{{node}}-add-frame-image' 
                      type='Dashboard.AddFrame' 
                      data='{
                        "resourceIri": "{{node}}", 
                        "viewId": "iiif"
                      }' 
                      targets='["thinking-frames"]'>
                      
                      <button class="btn btn-primary btn-open-image">
                        <i class="rs-icon rs-icon-image"></i>
                      </button>
                    </mp-event-trigger>  
                  </div>
                </template>
                <template id='else'></template>
              </semantic-if>
            {{/if}}
          </div>

        </div>

        <div data-flex-layout="column top-stretch" data-flex-self="size-x3">

          <div data-flex-layout="row top-stretch" data-flex-self="size-x3">       
            <div id="entity_publication_notes" class="padding-5">
              <semantic-form-text-input placeholder="Enter a note for the editor ..." label="Notes" for="entity_publication_notes"></semantic-form-text-input>
            </div>

            <div id="entity_published" class="padding-5">
              <semantic-form-checkbox-input label="Record completed?" for='entity_published'></semantic-form-checkbox-input>
            </div>
          </div>

          <div id="source_attributed_title" class="padding-5">
            <semantic-form-text-input placeholder="Enter Attributed title ..." languages='["en", "it"]' label="Attributed title" for="source_attributed_title"></semantic-form-text-input>
          </div>

          <div id="source_location_type" class="padding-5">
            <semantic-form-tree-picker-input
              for='source_island'
              label="Island"
              placeholder="Select the island">
            </semantic-form-tree-picker-input>
          </div>
          
        </div>

      </div>

      
      <!-- Tabs -->
      <bs-tabs class="source_tabs" id="tabs">

        <!-- Content --> 
        <bs-tab event-key="1" title="Content">

          <div data-flex-layout="column top-stretch">

            <div data-flex-layout="row center-stretch">
              <div id="source_original_title" class="padding-5">
                <semantic-form-text-input placeholder="Enter Original title ..." languages='["en", "it"]' label="Original title" for="source_original_title"></semantic-form-text-input>
              </div>

              <div id="source_location_type" class="padding-5">
                <semantic-form-tree-picker-input 
                  for='source_typology'
                  label="Source typology"
                  placeholder="Choose the source typology"
                  tree-patterns='{
                    "relationPattern": "?item skos:broader ?parent", 
                    "schemePattern": "?item crm:P71i_is_listed_in <https://veniss.net/resource/vocab/source_typologies>"
                  }'>
                </semantic-form-tree-picker-input>
              </div>
            </div>

            <div data-flex-layout="row top-stretch">
              <div id="source_synopsis" class="padding-5">
                <semantic-form-text-input placeholder="Enter Synopsis ..." languages='["en", "it"]' multiline="true" label="Synopsis" rows="5" for='source_synopsis'>
                </semantic-form-text-input> 
              </div>

              <div id="source_transcription" class="padding-5">
                <semantic-form-text-input placeholder="Enter transcription ..." languages='["en", "it"]' multiline="true" label="Transcript" rows="5" for='source_transcription'>
                </semantic-form-text-input> 
              </div>
            </div>

          </div>


        </bs-tab>

        <!-- Archival location  -->
        <bs-tab event-key="2" title="Archival Location">
          <div data-flex-layout="row top-stretch">

            <div id="source_information_carrier_location" class="padding-5" data-flex-layout="row top-stretch">
              <div data-flex-self="size-x3">
                <semantic-form-tree-picker-input 
                  open-dropdown-on-focus="false"
                  label="Archival Location" 
                  for='source_information_carrier_location'
                  placeholder="Drop here the archival unit containing this source ... "
                  custom-button='{
                    "iri": "http://www.researchspace.org/resource/ThinkingFrames",
                    "view": "authority-content",
                    "resource": "http://www.researchspace.org/resource/vocab/archives"
                  }'
                  query-item-label='
                    select (group_concat(distinct ?lbl; separator=", ") as ?item_label) where {
                      {
                        select ?class ?lbl
                        where {
                          ?query_item_iri crm:P46i_forms_part_of* ?mid.
                          ?mid crm:P46i_forms_part_of* ?class.
                          ?class rdfs:label ?class_label
                          
                          optional {
                            ?class crm:P1_is_identified_by ?acronym.
                            ?acronym a crm:E41_Appellation;
                              crm:P2_has_type <https://veniss.net/resource/type/acronym>;
                              rdfs:label ?acronym_lbl 
                          }

                          BIND(COALESCE(?acronym_lbl, ?acronym_lbl, ?class_label) as ?lbl)
                        }
                        group by ?class ?lbl
                        order by desc(count(?mid))
                      }
                    }
                  '
                  tree-patterns='{
                    "relationPattern": "?item crm:P46i_forms_part_of ?parent", 
                    "schemePattern": "?item crm:P71i_is_listed_in <http://www.researchspace.org/resource/vocab/archives>"
                  }'>
                </semantic-form-tree-picker-input>
              </div>
              
            </div>

          </div>

          <div data-flex-layout="row top-stretch">

            <div id="source_information_carrier_type" class="padding-5">
              <semantic-form-select-input 
                for='source_information_carrier_type'
                label="Information Carrier type"
                placeholder="Choose the Information Carrier type">
              </semantic-form-select-input>
            </div>

            <div id="source_information_carrier_name" class="padding-5">
              <semantic-form-text-input label="Information Carrier name" placeholder="Write the Information Carrier name" for='source_information_carrier_name'>
              </semantic-form-text-input> 
            </div>

          </div>

          <hr>

          <!-- Medium and Dimension -->
          <div data-flex-layout="column top-stretch">

            <div id="source_technique" class="padding-5">
              <semantic-form-tree-picker-input  label="Medium" placeholder="Choose the medium" for='source_technique'
                tree-patterns='{
                    "relationPattern": "?item skos:broader ?parent", 
                    "schemePattern": "?item crm:P71i_is_listed_in <https://veniss.net/resource/vocab/source_materials>"
                  }'
                >
              </semantic-form-tree-picker-input>
            </div>

            <div data-flex-layout="row top-stretch">
              <div id="source_dimension" class="padding-5">
                <semantic-form-text-input label="Dimensions" placeholder="H x B" for="source_dimension">
                </semantic-form-text-input>
              </div>

              <div id="source_dimension_unit" class="padding-5">
                <semantic-form-select-input label="Dimension unit" placeholder="select the dimension unit" for="source_dimension_unit">
                </semantic-form-select-input>
              </div>
            </div>

          </div>

          <div data-flex-layout="row top-stretch">
            <div id="source_comment" class="padding-5">
              <semantic-form-text-input label="Additional notes" for="source_comment" placeholder="Enter an additional note here...">
              </semantic-form-text-input>
            </div>
          </div>
        </bs-tab>

        <!-- Author and Date -->
        <bs-tab event-key="3" title="Author and Date">
          <div data-flex-layout="row top-stretch">

            <div id="source_author" class="padding-5">
              <semantic-form-autocomplete-input label="Author" for='source_author' placeholder="Start type to filter the authors"></semantic-form-autocomplete-input>
            </div>
            
            <div id="source_date_composite" class="padding-5">
              <semantic-form-composite-input label="Creation date" for='source_date_composite' new-subject-template="/creation-date/" fields='[[fieldDefinitions
                time_primitive_day = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_day"
                time_primitive_month = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_month"
                time_primitive_year = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_year"
                time_primitive_note = "https://veniss.net/container/fieldDefinitionContainer/time_primitive_note"
              ]]'>
                <semantic-form-text-input label="day" placeholder="dd" for="time_primitive_day"></semantic-form-text-input>
                <semantic-form-text-input label="month" placeholder="mm" for="time_primitive_month"></semantic-form-text-input>
                <semantic-form-text-input label="year" placeholder="yyyy" for="time_primitive_year"></semantic-form-text-input>
                <semantic-form-text-input label="note" placeholder="Date in natural language" for="time_primitive_note"></semantic-form-text-input>
              </semantic-form-composite-input>
            </div>
          </div>

          <style>
            #source_date_composite > div > div.cardinality-support > div > div > div:nth-child(-n+3){
              display: inline-block;
              margin-right: 2px;
              width: 100px;
            }
            #source_date_composite > div > div.cardinality-support > div > div {
              display: block;
            }
          </style>
        </bs-tab>

        <!-- Related elements -->
        <bs-tab event-key="4" title="Related elements"></bs-tab>

      </bs-tabs>
      
    </div>

  </div>


</div>

[[> rsp:FormDefaultActions]]
</semantic-form>

<style>

  .btn-open-image{
    position: relative;
    top: -40px;
  }

  #form-body{
    margin-top: 50px;
  }

  .margin-top{
    margin-top: 40px;
  }

  .FileManager--header {
    display: none !important;
  }

  .cardinality-support__group-instance, .SemanticTreeInput--inputAndButtons {
    border: none !important;
    padding: 0px !important;
  }

  .cardinality-support__single-instance {
    border: none !important;
  }

  .h-1000{
    min-height: 1000px;
  }

  .padding-5 {
    padding: 0 5px;
  }

  .wrapper {
      display: flex;
      flex-direction: column-reverse;
  }

  .open-archival-unit{
    margin-top: 51px;
    border-radius: 0px;
    padding: 10px;
  }

  #source_information_carrier_location .SemanticTreeInput--browseButton{
    margin-right: 10px;
  }

  #source_information_carrier_location .RemovableBadge {
    background-color: white!important;
  }

  #source_information_carrier_location .RemovableBadge__content, #source_location .RemovableBadge__remove {
    max-width: none!important;
    text-transform: none!important;
    color: black!important;
  }
</style>